{% extends "base.html" %}

{% block fbmetadata %}
  <meta property="og:title" content="{{ partner.name }}"/> 
  <meta property="og:url" content="http://{{ request.get_host }}{{ request.path }}"/> 
  <!--<meta property="og:image" content=""/> -->
  <meta property="og:site_name" content="SocialPakt - Make a Pakt, Make a Difference"/> 
  <meta property="og:type" content="article" /> 
  <meta property="fb:app_id" content="{{ settings.FACEBOOK_APP_ID }}"> 
  <meta property="og:description" content="{{ partner.description }}"/> 
  <meta property="og:author" content="SocialPakt.com" />
{% endblock fbmetadata %}

{% block main %}
    <div id="partnerblock" class="partnerpage {% if partner.partner_type == "ART" %}artistpage{% else %}npopage{% endif %}">
        
        <h2>{{ partner.name }}</h2>

      <div id="description">
          {{partner.about|safe}}
        </div>
        

        <div id="sidebar">
          <div class="partnerimage">
            <div class="overlay"></div>
            <img src="{% if partner.image %}{{partner.image.url}}{% endif %}" alt="{{partner.name}}">
          </div>


          {% if partner.partner_type == "ART" %}
          <fb:like href="http://{{ request.get_host }}{% url artist partner.slug %}" send="true" width="450" show_faces="true" font=""></fb:like> 
        {% else %}
          <fb:like href="http://{{ request.get_host }}{% url nonprofit partner.slug %}" send="true" width="450" show_faces="true" font=""></fb:like>  
        {% endif %}


          
          <ul class="partnerlinks">
          <h3>ELSEWHERE</h3>
          	{% for link in partner.partnerlink_set.all %}
          		<li><a href="{{link.link}}" class="{{link.link_class}}">{{link.link_text}}</a></li>
              <span class="divider">/</span>
          	{% endfor %}
          </ul>

          {% if partner.partner_type == "ART" %}
          	<h3>SocialPakt Shirts</h3>
            <ul class="tshirtlinks">
            	{% for s in partner.artist_on_set.all %}
          			<li>
                  <div class="shirtpicture"><img width="100px" src="{{s.productphoto_set.all.0.photo.url}}" alt="{{s.productphoto_set.all.0.description}}"></div>
                  <div class="shirtlink"><a href="{% url shirt s.slug %}">{{s.title}}</a></div>
                </li>
          		{% endfor %}
          	</ul>
          {% else %}
          	<h3>SocialPakt Shirts:</h3>
          	<ul class="tshirtlinks">
          		{% for s in partner.benefits_from_set.all %}
          			<li>
                  <div class="shirtpicture"><img width="100px" src="{{s.productphoto_set.all.0.photo.url}}" alt="{{s.productphoto_set.all.0.description}}"></div>
                  <div class="shirtlink"><a href="{% url shirt s.slug %}">{{s.title}}</a></div>
                </li>
          		{% endfor %}
          	</ul>
          {% endif %}
        </div>
    </div>
{% endblock main %}