{% extends "base.html" %}

{% block fbmetadata %}
{% endblock fbmetadata %}

{% block sharethis %}  
{% endblock sharethis %}

{% block main %}
<div class="wrapper">
    <div id="partnerblock">
        <h2>Our Nonprofits</h2>
        <ul id="partnerlist" class="nonprofit">
          {% for partner in object_list %}
            <li class="partner nonprofit">
              <a class="nonprofitimage" href="{% url nonprofit partner.slug %}"><img src="{% if partner.image %}{{partner.image.url}}{% endif %}" alt="{{partner.name}}"></a>
              <div class="description">
                <h3><a href="{% url nonprofit partner.slug %}">{{partner.name}}</a></h3>
                <p>{{partner.about|safe|truncatewords_html:30|striptags}} <a class="more" href="{% url nonprofit partner.slug %}">Learn More</a></p>
              </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock main %}