{% extends "base.html" %}

{% block fbmetadata %}
{% endblock fbmetadata %}

{% block sharethis %}
{% endblock sharethis %}

{% block main %}
<div class="wrapper">
    <div id="partnerblock">
        <h2>Our Artists</h2>
        <ul id="partnerlist" class="artist">
          {% for partner in object_list %}
            <li class="partner artist">
              {% if partner.image %}
              <a class="artistimage" href="{% url artist partner.slug %}"><img src="{{partner.image.url}}" alt="{{partner.name}}"></a>
              {% endif %}
              <div class="description">
                <h3><a href="{% url artist partner.slug %}">{{partner.name}}</a></h3>
                <p>{{partner.about|safe|truncatewords_html:30|striptags}} <a class="more" href="{% url artist partner.slug %}">Learn More</a></p>
              </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock main %}

{% block locations %}
{% endblock locations %}
