{% extends "base.html" %}

{% block sharethis %}
	
{% endblock sharethis %}

{% block cartnav %}
	
{% endblock cartnav %}

{% block cartstuff %}
	
{% endblock cartstuff %}

{% block globaljs %}
	
{% endblock globaljs %}

{% block contest %}
	
{% endblock contest %}

{% block localcss %}
	<link rel="stylesheet" href="https://^^store_domain^^/themes/text/styles.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foxystyles.css">
{% endblock localcss %}

{% block main %}
	^^cart^^
	^^receipt^^
{% endblock main %}