
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head> 
  <title>SocialPakt - Local Tees, Local Difference</title> 
  
  
  
 
  <link rel="stylesheet" href="/site_media/static/css/styles.css"> 
</head> 
 
<body> 
    <div id="header"> 
        <a href="/"><img src="/site_media/static/images/socialpakt_logo.png" width="366" height="135" alt=""></a> 
    </div> 
    <div id="content"> 
        
	
 
        <img src="/site_media/static/images/home-our-vision.png" class="homepage-center"><br/> 
        
        
            <a href="/cart/">Shopping Cart</a>  
        
        
        
	<h1>Oops! Something went wrong.</h1> 
	<p>We've been alerted but in the mean time. Please check out today's <a href="/">t-shirt</a>!</p> 
 
 
    </div> 
 
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline --> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
    <script>window.jQuery || document.write('<script src="/site_media/static/js/libs/jquery-1.6.2.min.js"><\/script>')</script> 
 
    <script src="/site_media/static/js/globals.js"></script> 
    <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'adb4e700-db0e-4d1f-afaf-ede76d7144a1'});</script> 
 
    
        <!-- <script src="/site_media/static/js/locals.js"></script>  --> 
    
 
    <div id="fb-root"></div> 
    <script> 
      window.fbAsyncInit = function() {
        FB.init({appId: '150946388320139', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
    </script> 
 
    <script type="text/javascript"> 
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24208926-1']);
        _gaq.push(['_trackPageview']);
 
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script> 
 
</body></html>