{% load thumbnail %}
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>
  <title>Make a Pakt, Make a Difference</title>
  {% block fbmetadata %}
  {% endblock fbmetadata %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/blank.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/css3.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/footer.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/header.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/locations.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/pages.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/socialpakt.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/shirt.css" type="text/css" media="screen" charset="utf-8" />
  

  <script src="{{ STATIC_URL }}js/lib/modernizr-2.0.6.js"></script>
  <script type="text/javascript">
      (function() {
            var tk = document.createElement('script');
            tk.type = 'text/javascript';
            tk.async = true;
            tk.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'use.typekit.com/ars1zsi.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(tk, s);

            tk.onload = function () {
                try{Typekit.load();}catch(e){}
            }
      })(); 
</script>
<meta name="viewport" content="width=device-width, maximum-scale=1.0">
</head>

<body class="{% if product %}{{product.slug}}{% else %}static{% endif %}"{% if product.background_photo %} style="background-image:url({{ product.background_photo.url }})"{% else %}{% endif %}>

    {% block header %}
  <!-- Header - toggle expanded/collapsed class to show/hide information -->
  <div id="header" class="collapsed">
    <div class="bgimage">&nbsp;</div>
    <div class="wrapper">

    <div class="logo">
      <h1><a href="/">SocialPakt</a></h1>
    </div>

    <div class="like">
      <fb:like href="http://www.facebook.com/socialpakt" layout="button_count" show_faces="true" width=100 action="like" colorscheme="light" height=21></fb:like>
    </div>

    <!-- TODO kevin can we add a selected class to these when their pages are active? -->
    <ul class="minornav">
      <li><a href="{% url shirts %}">Causes</a></li>
      <li><a href="{% url npos %}">Nonprofits</a></li>
      <li><a href="{% url artists %}">Artists</a></li>
      <li><a href="/aboutus/">About SocialPakt</a></li>
      <li><a href="http://blog.socialpakt.com">Blog</a></li>
    </ul>

    {% block headercatnav %}
        <ul class="locationnav">
        {% for cat in product_categories %}
             <li class="{{ cat.slug }} {% ifequal category|slugify cat.slug %}selected{% endifequal %}">
                <h3><a href="{% url home_city cat.slug %}">{{ cat.display_text }}</a></h3>

                <div class="minishirt"> <!-- needs to pull in thumbnail of t-shirt and charity name, and will be hidden when header is collapsed -->
                  <img src="images/minishirt.png" alt="Shirt Thumbnail">
                  <p class="charityname">Charity Name</p>
                </div>
              </li>
        {% endfor %}
        {% if category %}
              <li class="currentcatli">Current Category: {{ category.display_text }}
        {% endif %}
        </ul>
    {% endblock headercatnav %}

    <div class="about"><!-- hide me when collapsed -->

    <div class="howitworks">For every shirt you buy, we donate $6 to our featured nonprofit.</div>

    <div class="contest">Like us &amp; each week you'll be entered to win a $100 donation to the charity of your choice.</div>

    </div>

  </div>
  </div>
    {% endblock header %}


{% block content %}

<!-- Shirt and Shirt Details -->
<div id="main">

    {% block main %}

    {% block sharethis %}
              <span  class='st_facebook_vcount' displayText='Facebook'></span>
              <span  class='st_twitter_vcount' displayText='Tweet'></span>
              <span  class='st_email_vcount' displayText='Email'></span>
              <span  class='st_plusone_vcount' ></span>
    {% endblock sharethis %}

    {% block cartnav %}

    {% endblock cartnav %}

    {% endblock main %}

    {% block about %}

    {% block fbcomments %}

    {% endblock fbcomments %}

    {% endblock about %}
  
</div>


{% block locations %}
<!-- Locations -->

{% load thumbnail %}
  <div id="locations">
  <div class="wrapper">
      {% for cat in product_categories %}
      <div class="location {{ cat.slug }} {% ifequal category|slugify cat.slug %}selected{% endifequal %}">
        <h3><a href="{% url home_city cat.slug %}">{{ cat.display_text }}</a></h3>
        {% for prod in cat.product_set.all %}
        {% if prod.featured %}
          <div class="smallshirt">
            {% for photo in prod.productphoto_set.all|slice:":1" %}
              {% thumbnail photo.photo "245" format="PNG" as im %}
                  <img src="{{ im.url }}" >
              {% endthumbnail %}
            {% endfor %}
          </div>
          <h4 class="charityname">{{ prod.benefits.name }}</h4>
            <a class="charitylink" href={% url nonprofit prod.benefits.slug %}><span class="goto">go to</span>
            {% for link in prod.benefits.partnerlink_set.all %}
              {% if link.link_class == "homepage" %}
                <a href="{{ link.link }}" target="_blank" class="charity_logo">{{ link.link }}</a>
              {% endif %}
            {% endfor %}
            </a>
            <p><span class="truncate_28">{{prod.benefits.about|safe|striptags}}</span> <a href="{% if prod.benefits.slug %}{% url nonprofit prod.benefits.slug %} {% endif %}" class="morelink">more&#8230;</a></p>
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
      
    </div>
  </div>
{% endblock locations%}

  <!-- SocialPakt sections -->
  <div id="socialpakt">
      <!-- Mission -->
      <div id="mission">        
        <a href="/aboutus/"><img src="{{ STATIC_URL }}images/mission.png" alt="We are building a community to generate funds &amp; awareness for local artists and nonprofits."></a>      

        <h1><a href="/aboutus/">We are building a community to generate funds &amp; awareness for local artists and nonprofits.</a></h1>

        
      </div>

    <div class="wrapper">
      <div class="aboutus">
          
          <div class="buyashirt">
            <h4>Buy a Shirt</h4>
            <p>Each time you buy a shirt from SocialPakt we donate $6 directly to the featured nonprofit, and $3 to the artist. Help support your city and buy a shirt!</p>
          </div>

          <div class="shareashirt">
            <h4>Share a Shirt</h4>
            <p>We love when you share shirts with your social network! This is how we spread the word and raise as much awareness as possible for our nonprofits!</p>
          </div>

          <div class="wearyourshirt">
            <h4>Wear your Shirt</h4>
            <p>Each time you sport a SocialPakt shirt, you are sharing your support with the world. Don’t be shy!</p>
          </div>
      </div>
    </div>
    
  </div>
  </div>
  
{% endblock content %}

{% block footer %}

    <!-- Footer -->
    <div id="footer">
    <div class="wrapper">

      {% if form %}
      <div id="mailinglist">
          <form id="emailform" method="post" action="."> 
            {% csrf_token %}
            <h3 class="newslettertitle">Be the first to know about our new shirts!</h3>
            <label for="home_email_address">Sign up for our mailing list!</label>
            <input class="homepage-email" type="email" id="home_email_address" placeholder="type your email address in here!" name="email" maxlength="75" value="{{form.email.value|default:''}}"/> <input type="submit" class="homepage-submit" value="Sign Me Up!" />
            {{ form.email.errors }}
            <p>We promise never to sell your email, spam you, or otherwise be shady! We'll only email you about cool new shirts and events.</p>
          </form> 
      </div>
      {% endif %}


      <div class="socialpaktlinks">

        <img src="{{ STATIC_URL }}images/socialpaktlogo_large.png" alt="SocialPakt" class="logo_large">

        <ul class="sociallinks">
            <li class="facebook"><a href="http://www.facebook.com/SocialPakt">Facebook</a></li>
            <li class="twitter"><a href="http://www.twitter.com/SocialPakt">Twitter</a></li>
            <li class="youtube"><a href="http://www.youtube.com/user/SocialPakt">YouTube</a></li>
        </ul>

        <ul class="footernav">
            <li><a href="/sizingchart">Sizing Chart</a></li>
            <li><a href="/press/">Press</a></li>
            <li><a href="http://blog.socialpakt.com">Blog</a></li>
            <li><a href="/privacy/">Privacy Policy</a></li>
            <li><a href="/conditions/">Terms of Use</a></li>
            <li><a href="/warranty-returns/">Warranty &amp; Returns</a></li>
        </ul>
        
        <div class="copyright">
          &copy; 2012 SocialPakt LLC
        </div>
      </div>

        </div>
    
    </div>
    </div>

{% endblock footer %}

    {% block globaljs %}
      <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
      <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'adb4e700-db0e-4d1f-afaf-ede76d7144a1'});</script>


    <script src="{{ STATIC_URL }}js/globals.js"></script>
    <script src="{{ STATIC_URL }}js/lib/respond.min.js"></script>

    {% block fbscripts %}
      <div id="fb-root"></div>
      <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{settings.FACEBOOK_APP_ID}}', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
      </script>
    {% endblock fbscripts %}

    {% endblock globaljs %}

    {% block cartstuff %}
      <!-- BEGIN FOXYCART FILES -->
      <link rel="stylesheet" href="http://static.foxycart.com/scripts/colorbox/1.3.16/style1_fc/colorbox.css" type="text/css" media="screen" charset="utf-8" />
      <script type="text/javascript" charset="utf-8">
          var colorbox_width = "725px";
          var colorbox_height = "700px";
      </script>
      <script src="http://cdn.foxycart.com/socialpakt/foxycart.complete.3.js" type="text/javascript" charset="utf-8"></script>
      <!-- END FOXYCART FILES -->
    {% endblock cartstuff %}

    {% block localscripts %}

    {% endblock localscripts %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26349421-1']);
      _gaq.push(['_setDomainName', '.socialpakt.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>
