<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>SocialPakt - Local Tees, Local Difference</title>
  
  {% block fbmetadata %}
  {% endblock fbmetadata %}

  <script src="{{ STATIC_URL }}js/lib/modernizr-2.0.6.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
</head>

<body>
    <div id="header">
        <a href="/"><img src="{{ STATIC_URL }}images/socialpakt_logo.png" width="366" height="135" alt=""></a>
    </div>
    <div id="content">
        {% block sharethis %}
            <span  class='st_facebook_vcount' displayText='Facebook'></span><span  class='st_twitter_vcount' displayText='Tweet'></span><span  class='st_email_vcount' displayText='Email'></span><span  class='st_plusone_vcount' ></span><br/>
        {% endblock sharethis %}
        <img src="{{ STATIC_URL }}images/home-our-vision.png" class="homepage-center"><br/>
        
        {% block cartnav %}
            <a href="{% url show_cart %}">Shopping Cart</a>  
        {% endblock cartnav %}
        
        {% block main %}
            
        {% endblock main %}

    </div>

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>

    <script src="{{ STATIC_URL }}js/globals.js"></script>
    <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'adb4e700-db0e-4d1f-afaf-ede76d7144a1'});</script>

    {% block localscripts %}
        <!-- <script src="{{ STATIC_URL }}js/locals.js"></script>  -->
    {% endblock localscripts %}

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{settings.FACEBOOK_APP_ID}}', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24208926-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body></html>