<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>
  <title>Make a Pakt, Make a Difference | SocialPakt</title>
  <style type="text/css">
  	body {background: url("../static/images/header_texture.png") repeat-y;}
  	.wrapper {width: 800px; margin: 0 auto; padding-top: 40px; background: url("../static/images/index/texture.png");}
  	h1 {background: url("../static/images/index/big_logo.png") no-repeat; text-indent: -9999em; height: 500px; width: 700px;}
  	p {font-family: "Proxima Nova", Geneva, Verdana, Arial, sans-serif; font-size: 32px; color: #fff; width: 75%; text-align: center;}
  </style>

 </head>

 <body>
 	<div class="wrapper">
 	
 	<h1>SocialPakt</h1>

 	<p>We'll be right back with a brand new socialpakt.com!</p>

 	</div>

 </body>

 </html>