{% extends "proto_base.html" %}

{% block localcss %}
	<link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css" media="screen" charset="utf-8" />
{% endblock localcss %}

{% block content %}



	<!-- Shirt and Shirt Details -->
	<div id="main">

		<!-- Shirt -->
		<div id="shirt" class="[TODO shirtname]">

			<!-- Shirt Image -->
				<!-- Charity -->
					<!-- Charity Seal and Logo -->
					<!-- Charity Flyout -->
				<!-- Shirt Image -->
					<!-- Toggle Links -->
				<!-- Like buttons -->

			<!-- Shirt Actions -->
				<!-- Price -->
				<!-- Goals -->
				<!-- Sizes -->
				<!-- Add to Cart -->


		</div>

		<!-- Shirt Details -->
		<div id="shirtdetails">
			
			<!-- About this Shirt -->
				<!-- Featured Charity -->
				<!-- Artist -->

			<!-- Comments -->

		</div>

	</div>

	<!-- Locations -->
	<div id="locations"></div>

	<!-- SocialPakt sections -->
	<div id="socialpakt">

		<!-- Mission -->
		<div id="mission"></div>

		<!-- Past Shirts -->
		<div id="pastshirts"></div>

	</div>



	
{% endblock content %}