<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>
  <title>Make a Pakt, Make a Difference</title>
  
  <script src="{{ STATIC_URL }}js/lib/modernizr-2.0.6.js"></script>
  <script type="text/javascript">
      (function() {
            var tk = document.createElement('script');
            tk.type = 'text/javascript';
            tk.async = true;
            tk.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'use.typekit.com/txn8uhp.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(tk, s);

            tk.onload = function () {
                try{Typekit.load();}catch(e){}
            }
      })(); 
  </script>

  {% block localcss %}

  {% endblock localcss %}

</head>

<body>

    {% block header %}
  <!-- Header - toggle expanded/collapsed class to show/hide information - needs to be location aware -->
  <div id="header" class="collapsed">

    <div class="logo">
    <img width="580px" src="{{ STATIC_URL }}/images/minishirt.png" alt="Design"/>
      <h1>SocialPakt</h1>
    </div>

    <ul class="minornav">
      <li>Past Causes</li>
      <li>Charities</li>
      <li>Artists</li>
      <li>About SocialPakt</li>
      <li>Blog</li>
    </ul>
    
    <ul class="locationnav">
      <li class="selected">
        <h3>New York</h3>
        <div class="minishirt">
          <img src="images/minishirt.png" alt="Shirt Thumbnail"> <!-- needs to pull in thumbnail of t-shirt -->
        </div>
        <p class="charityname">Charity Name</p>
      </li>
      <li>Los Angeles</li>
      <li>Canada</li>
      <li>Everywhere</li>
    </ul>

    <div class="about"><!-- hide me when collapsed -->

    <div class="howitworks">For every shirt you buy, we donate $6 to our featured nonprofit.</div>

    <div class="contest">Like us &amp; each week you'll be entered to win a $100 donation to the charity of your choice.</div>

    </div>

  </div>
    {% endblock header %}


{% block content %}

  
{% endblock content %}

{% block footer %}

    <!-- Footer -->
    <div id="footer"></div>

{% endblock footer %}

    {% block globaljs %}
      <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    {% endblock globaljs %}

    {% block localscripts %}

    {% endblock localscripts %}

</body>
</html>
