/* ---------- IMPORTS ------------------------------ */
/* ------------------------------------------------- */
  @import url("blank.css");
  @import url("css3.css");
  @import url("footer.css");
  @import url("header.css");
  @import url("locations.css");
  @import url("pages.css");
  @import url("socialpakt.css");
  @import url("shirt.css");
  

/* ---------- GLOBAL TEXT AND LINK STYLES ---------- */
/* ------------------------------------------------- */

body {margin: 0; padding: 0; border-top: 3px solid rgb(29, 116, 138); /* background-color: rgb(247, 247, 247); */ color: rgb(51, 51, 51); font-family: Geneva, Verdana, Arial, sans-serif; font-size: 16px; line-height: 1.8em;}
  .wf-inactive body {font-family: Geneva, Verdana, Arial, sans-serif;}
  .wf-active body {font-family: "proxima-nova", Proxima Nova, Geneva, Verdana, Arial, sans-serif;}


/* Typekit */
/* font-family: "proxima-nova"; */ /* sizes 400, 600 + italic */
/* font-family: "museo-slab"; */ /* for numbers only */
/* font-family: "proxima-nova-extra-condensed"; */ /* use as a replacement for knockout, sizes 300, 400, 700, not italic */


h1, h2, h3, h4 {text-transform: uppercase; font-family: "proxima-nova", Geneva, Verdana, Arial, sans-serif; font-weight: 600; color: rgb(26, 106, 127); line-height: 1;}
h1 {font-size: 60px;}
h2 {font-size: 40px;}
h3 {font-size: 24px;}
h4 {font-size: 18px; color: rgb(8, 39, 57);}
h5 {font-size: 22px; font-family: "proxima-nova-extra-condensed", 'Knockout', 'TradeGothic', Trade Gothic, Trebuchet MS, Arial, sans-serif; font-weight: 200; margin: 0 0 5px 0;}
    
    
a {color: rgb(255,108,0); text-decoration: none;}
a:hover {color: rgb(201,23,93); text-decoration: none;}


.number {font-family: "proxima-nova-extra-condensed", 'TradeGothic', Trade Gothic, Trebuchet MS, Arial, sans-serif; font-weight: 700;}
.dollar {font-family: "museo-slab", Geneva, Verdana, Arial, sans-serif; font-weight: 100; font-size: 30px; display: inline-block; vertical-align: top; padding-top: 3px;}
.helper {text-transform: uppercase; font-family: "proxima-nova-extra-condensed", 'Knockout', 'TradeGothic', Trade Gothic, Trebuchet MS, Arial, sans-serif; font-weight: bold; font-size: 14px; color: rgba(255, 255, 255, .75);}
  .wf-active .helper {font-weight: 300; font-size: 20px;}
  .helper:hover {color: rgba(255, 255, 255, 1);}

  /* TODO IE8 doesn't support rgba, specify fallback */

/* ---------- THINGS WHAT ARE USEFUL --------------- */
/* ------------------------------------------------- */

.wrapper {max-width: 1200px; margin: 0 auto;} /* add a wrapper div with this class to constrain width */
  .wrapper:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}