/* ---------- SITE FOOTER -------------------------- */
/* ------------------------------------------------- */

#footer {background-color: rgb(26, 106, 127); padding: 45px 0;}

	#pastshirts {display: none;} /* TODO hiding them for now, i think there's too many things going on & there are lots of other ways to get into other old shirts. plus on launch we won't have old shirts up. */
	#pastshirts {clear: both; list-style-type: none; margin: 0; padding: 0;}
		#pastshirts:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
		#pastshirts li {width: 290px; float: left;}
		#pastshirts li:last-child {margin-right: 0;}

			#pastshirts li .smallshirt {}
			#pastshirts li h3 {}
			#pastshirts li h3 a {color: rgba(255, 255, 255, .5);}
			#pastshirts li h3 a:hover {color: rgba(255, 255, 255, 1);}
			.no-rgba #pastshirts li h3 a {color: rgb(255,255,255);}


	#mailinglist {clear: both; margin: 75px 0;}
		h3.newslettertitle {text-indent: -9999em; background: url(../images/mailinglist.png) no-repeat; padding-bottom: 10px; float: left; width: 670px;}
		#mailinglist label {display: block; float: left; color: rgb(255, 255, 255); padding-top: 33px; text-transform: uppercase; font-size: 20px; font-weight: 600;}

		#mailinglist input {display: inline-block; width: 78%; border: 0; padding: 25px 15px; font-size: 32px; font-weight: normal; font-family: "proxima-nova", Helvetica, Arial, sans-serif; color: rgb(0, 43, 57);}
			#mailinglist input:focus {outline: none;}
		#mailinglist .homepage-submit {display: inline-block; width: auto; margin-left: -5px; background-color: rgba(231, 42, 117, .75); border: 0; color: rgb(255, 255, 255); text-transform: uppercase; cursor: pointer;}
			.no-rgba #mailinglist .homepage-submit, .no-rgba #mailinglist .homepage-submit:hover, .no-rgba #mailinglist .homepage-submit:active, .no-rgba #mailinglist .homepage-submit:focus {background-color: rgb(231, 42, 117);}
		#mailinglist .homepage-submit:hover, #mailinglist .homepage-submit:active, #mailinglist .homepage-submit:focus {background-color: rgba(231, 42, 117, 1);}

		#mailinglist .errorlist {display: none;}
		#mailinglist p {clear: both; margin: 0; color: rgba(255, 255, 255, .5); font-style: italic;}
		.no-rgba #mailinglist p {color: rgb(255, 255, 255);}

		/* mailinglist input focus */
		#mailinglist input:focus {
			-webkit-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .1);
			-moz-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .1);
			box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .1);
		}



	.socialpaktlinks {clear: both; padding-top: 20px;}
		.sociallinks, .footernav {list-style-type: none; padding: 0; margin: 0;}
		.sociallinks li, .footernav li {display: block; float: left; margin-right: 10px;}

		.socialpaktlinks .logo_large {float: left;}
		.sociallinks {float: left; margin-left: 25px; padding-top: 30px;}
			.sociallinks li a {opacity: .75; background-size: 98%; display: block; width: 57px; height: 55px; text-indent: -9999em;}
				.sociallinks li a:hover {opacity: 1;}
				.ie8 .sociallinks li {width: 57px; height: 55px;}
			.sociallinks li.facebook a {background: url(../images/sharing_facebook.png) no-repeat;}
			.sociallinks li.twitter a {background: url(../images/sharing_twitter.png) no-repeat;}
			.sociallinks li.youtube a {background: url(../images/sharing_youtube.png) no-repeat;}

		.footernav {width: 440px; float: right; margin-top: 40px;}
			.footernav li {display: block; float: left; text-transform: uppercase; font-family: "proxima-nova-extra-condensed", "proxima-nova", Arial, sans-serif; font-size: 14px;}
				.footernav li a {color: rgba(255, 255, 255, .75);}
				.footernav li a:hover {color: rgba(255, 255, 255, 1);}
				.no-rgba .footernav li a, .no-rgba .footernav li a:hover {color: rgb(255, 255, 255);}
			.wf-active .footernav li {font-weight: 400; font-size: 16px;}
			.ie6 .footernav li, .ie7 .footernav li {display: inline; zoom: 1;} /* duplicate inline-block */

			#footer .minornav {display: none;}

			.sociallinks li {
				-webkit-transition: opacity .5s linear;
				-moz-transition: opacity .5s linear;
				-o-transition: opacity .5s linear;
				transition: opacity .5s linear;
			}


		.copyright {clear: both; color: rgb(255, 255, 255); font-size: 10px;}





/* ---------- RESPONSIVE STATES -------------------- */
/* ------------------------------------------------- */


@media screen and (max-width: 1200px) {
	#mailinglist, .socialpaktlinks {margin: 75px 20px;}
	#mailinglist input {width: 70%;}
}

@media screen and (max-width: 1160px) {
	.socialpaktlinks .logo_large {width: 300px;}
	.sociallinks {padding-top: 15px;}
}

@media screen and (max-width: 1060px) {
	.sociallinks li a {width: 40px; height: 40px;}
	.footernav {margin-top: 22px;}
}

@media screen and (max-width: 1010px) {
	#mailinglist {margin: 40px 20px;}
	#mailinglist h3.newslettertitle {margin-bottom: 6px;}
	#mailinglist label {float: none; clear: left; padding-top: 0; padding-bottom: 10px;}
}

@media screen and (max-width: 960px) {
	.socialpaktlinks .logo_large {width: 200px;}
	.sociallinks li a {width: 30px; height: 30px;}
}

@media screen and (max-width: 840px) {
	#mailinglist input {font-size: 20px; width: 65%;}
	#mailinglist .homepage-submit {font-size: 20px;}
	.footernav {clear: both; float: none;}
}

@media screen and (max-width: 690px) {
	#mailinglist h3.newslettertitle {background-size: 100%; width: 100%;}
}

@media screen and (max-width: 540px) {
	#mailinglist input {width: 90%;}
	#mailinglist .homepage-submit {margin-left: 0;}
	.footernav {width: auto;}
}

@media screen and (max-width: 440px) {
	#footer .sociallinks {width: 100%; padding-bottom: 20px;}
	#footer .minornav,
	#footer .footernav {display: inline; padding-top: 0;}
	#footer .minornav li:last-child {display: none;`}
}

@media screen and (max-width: 380px) {
	.sociallinks {padding-top: 0; margin-left: 0; clear: both;}
	#socialpakt {padding-bottom: 0;}
}