/* GLOBAL STYLES */
body.fcart.lbcart div#content { width: 625px; padding-top:0px;}
#fc_receipt_container li.fc_row.fc_processor_response { display:none; }
#fc_receipt_container li.fc_row.fc_store_name { display:none; }

#fc_cart_table td, #fc_cart_table th {padding: 15px 10px; border: none;}
#fc_cart_container td, #fc_cart_container tr.fc_cart_item td {vertical-align: top;}
#fc_checkout_container input.fc_text {padding: 8px 10px; color: #3e8895; font-size: 14px; font-weight: normal; border: 1px solid #53a9b8;}
	#fc_checkout_container input.fc_text:focus {outline: none;}
	.fc_row_error input {border-color: #7c0000 !important;}

	#fc_checkout_container label.fc_error {padding-top: 15px !important; font-weight: normal !important;}

	.fc_ast {color: #7c0000;}
#fc_checkout_container p {padding-left: 0; color: #999; font-size: 11px; font-style: italic;}
li.fc_row::after {clear: none !important;}
input {width: auto;}
fieldset {margin: 0; padding: 0;}
.fc_fieldset_container ol li fieldset {background-color: transparent !important;}

/* ITEM TABLE */
#fc_cart_table {font-size: 14px !important; color: #333 !important;}

/* Header */
#fc_cart_table thead th {background: transparent; letter-spacing: normal; font-weight: 600; font-size: 16px; color: #6e356a; text-transform: uppercase; padding-bottom: 5px;}
#fc_cart_table #fc_cart_head {border-bottom: 1px solid #ddd; margin-bottom: 10px;}

/* Items */
.fc_cart_item {}

	#fc_cart_controls_top {display: none;} /* on cart popup only have update & checkout at bottom */

	.fc_cart_item td {font-size: 24px !important; font-weight: normal; color: #178a94 !important;}
	.fc_cart_item .fc_cart_item_options {margin: 10px 0 !important; padding: 0 !important;}
	.fc_cart_item li.fc_cart_item_option {font-size: 12px !important;}

	.fc_cart_item .fc_cart_item_shirt {}
		.fc_cart_item .fc_cart_item_shirt .fc_cart_item_option_name {display: none;}
		.fc_cart_item .fc_cart_item_shirt .fc_cart_item_option_separator {display: none;}
		.fc_cart_item .fc_cart_item_shirt .fc_cart_item_option_value {color: #999;}

	.fc_cart_item .fc_cart_item_code {display: none;}

	.fc_cart_item td.fc_cart_item_quantity {color: #999 !important;}
		.fc_cart_remove_center {}
		#fc_cart_table .fc_cart_remove_link {font-size: 12px;}

	.fc_cart_item td.fc_cart_item_price {color: #999 !important; font-family: Museo, museo, Verdana, Arial, sans-serif;}
		.fc_cart_item td.fc_cart_item_price .fc_cart_item_price_each {display: none !important;}


	#fc_cart_table tfoot td {background-color: rgba(83, 169, 184, .05); border-bottom: 1px solid rgba(83, 169, 184, .3);}

		#fc_cart_foot_subtotal td.fc_col2, #fc_cart_foot_shipping td.fc_col2, .fc_cart_foot_tax td.fc_col2, #fc_cart_foot_tax_tbd td.fc_col2 {font-size: 18px; font-family: Museo, museo, Verdana, Arial, sans-serif;}

		#fc_cart_table tfoot td.fc_col1 {vertical-align: middle !important; letter-spacing: normal; font-style: italic;}

	#fc_cart_foot_total {}
		#fc_cart_table #fc_cart_foot_total td {background: rgba(83, 169, 184, 1); border-bottom: 1px solid #3e8895;}
		#fc_cart_table #fc_cart_foot_total td.fc_col1 {color: #fff !important;}
		#fc_cart_table #fc_cart_foot_total td.fc_col2 {font-size: 30px; font-weight: 600; color: #fff; font-family: Museo, museo, Verdana, Arial, sans-serif;}


/* Cancel Link */
#fc_cancel_continue_shopping a {color: #999; font-size: 11px; text-decoration: none;}



/* FORM */
.fc_fieldset_container {border-top: 2px solid #471F45; padding: 40px 0 0 0; margin-top: 40px;}
	.fc_fieldset_container h2 {color: #471f45; text-transform: uppercase; font-size: 30px; font-weight: 600; margin-top: 0;}

	.fc_fieldset_container .fc_pre {float: none !important; padding-bottom: 10px !important; display: block; font-size: 16px; text-align: left !important;}


	/* Login or Register */
	#fc_login_register_container {border: none; padding: 0 !important;}
		#fc_login_register_container h2 {display: none;}

		#fc_login_register_container label.fc_pre,
		#fc_login_register_container span.fc_pre,
		#fc_login_register_container span.fc_pre {width: auto; padding: 0; text-align: left;}

		#fc_checkout_container li.fc_row.fc_customer_email {width: 380px !important;}
		.fc_customer_email .fc_pre {float: none !important; padding-bottom: 10px !important; display: block; color: #471f45; text-transform: uppercase; font-size: 30px; font-weight: 600;}

		#fc_checkout_container input#customer_email {width: 350px;}
			#fc_checkout_container input#customer_email:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

		#fc_checkout_container li.fc_row_radio, #fc_receipt_container li.fc_row_checkbox {float: right !important; width: 195px !important; margin-left: 0 !important; clear: none !important; margin-top: 50px; font-weight: 600; font-size: 14px;} /* TEST IN BROWSERS LIEK WHOA */

		.fc_customer_password .fc_pre, .fc_customer_password2 .fc_pre {display: block; float: none !important; color: #666; padding-bottom: 5px !important;}
		.fc_customer_password input#customer_password, .fc_customer_password2 input#customer_password2 {border-color: #999; padding: 3px;}
		
		#fc_login_register_container #fc_continue {display: none !important;}
	

/* BILLING */
#fc_customer_billing_list li {padding: 0 0 20px 0 !important;}
	
	/* layout of inputs */
	#fc_customer_billing_list li {width: 330px !important;}
	#fc_customer_billing_list li.fc_customer_last_name {clear: none !important; margin-left: 50px;}
	#fc_customer_billing_list li.fc_customer_company {display: none !important;} /* REMOVE is company necessary? can i hide it? */
	#fc_customer_billing_list li.fc_customer_address2 {clear: none !important; margin-left: 50px;}
	#fc_customer_billing_list li.fc_customer_state_name {clear: none !important; width: 210px !important; margin-left: 50px;}
	#fc_customer_billing_list li.fc_customer_postal_code {clear: none !important; width: 100px !important;}

	#fc_customer_billing_list li.fc_customer_state_name input {width: 100px !important;}
	#fc_customer_billing_list li.fc_customer_postal_code input {width: 70px !important;}

	#fc_use_different_address {padding: 20px 0 !important;}
		#fc_use_different_address .fc_checkbox {font-size: 18px;}
	
	/* SHIPPING ADDRESS, if different */
		/* layout of inputs */
	#fc_address_shipping_list li {width: 330px !important;}
	#fc_address_shipping_list li.fc_shipping_last_name {clear: none !important; margin-left: 50px;}
	#fc_address_shipping_list li.fc_shipping_company {display: none !important;} /* REMOVE is company necessary? can i hide it? */
	#fc_address_shipping_list li.fc_shipping_address2 {clear: none !important; margin-left: 50px;}
	#fc_address_shipping_list li.fc_shipping_state_name {clear: none !important; width: 210px !important; margin-left: 50px;}
	#fc_address_shipping_list li.fc_shipping_postal_code {clear: none !important; width: 100px !important;}

	#fc_address_shipping_list li.fc_shipping_state_name input {width: 100px !important;}
	#fc_address_shipping_list li.fc_shipping_postal_code input {width: 70px !important;}

/* SHIPPING AND SUBTOTAL */
/* hiding this whole block since it's a replica of information in the table at top. jon, if this needs to be there for some other reason let me know so i can style it! */
#fc_shipping_container {display: none !important;}


/* PAYMENT */
.fc_row_payment_method {padding-bottom: 50px !important;}
	#fc_payment_method_plastic_container .fc_row {padding-top: 10px !important;}
	#fc_payment_method_plastic_container .li_cc_number {width: 380px !important;}
	#fc_payment_method_plastic_container .li_cc_cvv2 {clear: none !important; width: 300px !important;}
	#fc_payment_method_plastic_container #li_cc_exp_month select {border: 2px solid #53a9b8; color: #3e8895; font-size: 14px; padding: 5px; background-color: #fff; height: 35px;}
		#fc_payment_method_plastic_container #li_cc_exp_month select#cc_exp_month {width: 160px;}
		#fc_payment_method_plastic_container #li_cc_exp_month select#cc_exp_year {width: 80px;}
	#fc_payment_method_plastic_container #li_save_cc {margin-left: 0 !important; margin-top: 10px !important; width: auto !important; font-size: 14px;}



/* BUTTONS */
#fc_complete_order_button_container {padding: 40px 0 !important;}
	#fc_complete_order_button_container button {background-color: #178a94 !important; border: 1px solid #a8ddbe !important; background-image: url(../images/texture_button.png) !important; background-position: center center; color: #fff; font-size: 30px; text-transform: uppercase; font-weight: 600; font-family: Proxima Nova, proxima-nova, Verdana, Arial, Helvetica, sans-serif; padding: 20px !important;}
	#fc_complete_order_button_container button:hover, #fc_complete_order_button_container button:focus {outline: none; background-color: #ac9cd3 !important; border-color: #d1aad5 !important;}


#fc_cart_controls_bottom {padding-top: 40px !important;}

	#fc_cart_controls_top .fc_cart_update, #fc_cart_controls_top .fc_cart_checkout,
	#fc_cart_controls_bottom .fc_cart_update, #fc_cart_controls_bottom .fc_cart_checkout {
	margin-left: 0 !important;
	background-color: #178a94; border-color: #a8ddbe !important; background-image: url(../images/texture_button.png) !important; background-position: center center !important; text-transform: uppercase; font-weight: 600; font-family: Proxima Nova, proxima-nova, Verdana, Arial, Helvetica, sans-serif; font-size: 16px; border-width: 1px !important;}

		#fc_cart_controls_top .fc_cart_update:hover,
		#fc_cart_controls_bottom .fc_cart_update:hover {background-color: #ac9cd3 !important; border-color: #d1aad5 !important; opacity: 1 !important;}

	#fc_cart_controls_bottom .fc_cart_checkout {background-color: #7e457b; border: 1px solid #361034 !important; padding: 10px 15px !important; font-size: 24px;}
		#fc_cart_controls_bottom .fc_cart_checkout:hover {background-color: #178a94 !important; border-color: #a8ddbe !important; opacity: 1;}

	#fc_cart_controls_bottom .fc_cart_checkout_paypal {margin-right: 70px;}


#main {width: 780px; margin: 0 auto;} /* MAKE SURE THIS DOESNT CONFLICT W REGULAR STYLESHEET */

