/* ---------- HEADER ------------------------------- */
/* ------------------------------------------------- */

#header {margin: 0; padding: 0; position: relative;}

	/* Crazy Header BG multiple images!  */
	/* First gradient is black overlay, second gradient is green-blue */
	/* BG gradients supported by FF, Chrome, Safari, Opera, IE10 only
	   Multiple backgrounds supported by FF, Chrome, Safari, Opera, IE9
	   This should have correct fallbacks in all browsers. */
	#header .bgimage {
		position: absolute; top: 0; left: 0; z-index: -1;
		height: 85px; width: 100%;
		opacity: .9;

		/* Fallback Gradient BG Image and Color for browsers that don't support multiple BGs */
		background: rgb(145, 199, 121) url("../images/header_gradient_fallback.png") repeat-y;
	   
   		/* IE 10 */
		background:
			url("../images/header_texture.png"),
			-ms-linear-gradient(top, rgba(0, 0, 0, .25) 0%, transparent 15%);


	    /* Old Webkit syntax - Chrome, Safari4+ */
	    background-image:
	    	url("../images/header_texture.png"),
	    	-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, .25)), color-stop(15%,rgba(0, 0, 0, 0))),
	    	-webkit-gradient(linear,left top,right top,from(rgba(177, 212, 138, 1)), to(rgba(146, 212, 218, 1)));

	    /* New Webkit Syntax - Chrome10+, Safari5.1+ */
	    background:
	    	url("../images/header_texture.png"),
	    	-webkit-linear-gradient(top, rgba(0, 0, 0, .25) 0%, transparent 15%),
	    	-webkit-linear-gradient(left, rgba(177, 212, 138, 1), rgba(146, 212, 218, 1));

	    /* Moz -- FF3.6 + */
	    background-image:
	    	url("../images/header_texture.png"),
	    	-moz-linear-gradient(top, rgba(0, 0, 0, .25) 0%, transparent 15%),
	    	-moz-linear-gradient(left, rgba(177, 212, 138, 1), rgba(146, 212, 218, 1));

	    /* Opera */
	    background-image:
	    	url("../images/header_texture.png"),
		    -o-linear-gradient(top, rgba(0, 0, 0, .25) 0%, transparent 15%),
	    	-o-linear-gradient(left, rgba(177, 212, 138, 1), rgba(146, 212, 218, 1));

	    /* W3C Spec */
	    background-image:
	    	url("../images/header_texture.png"),
	    	linear-gradient(top, rgba(0, 0, 0, .25) 0%, transparent 15%),
	    	linear-gradient(left, rgba(177, 212, 138, 1), rgba(146, 212, 218, 1));
	}



	#header .logo {float: left; margin: 0 20px;}
		#header .logo h1 {margin: 0;}
		#header .logo h1 a {display: block; height: 67px; width: 227px; margin: 15px 0 0 0; text-indent: -9999em; background: url("../images/socialpaktlogo.png") no-repeat;}

	#header .like {float: left; padding-top: 35px;}


	#header ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden;}
		#header li {display: block; float: left; text-transform: uppercase; font-family: "proxima-nova-extra-condensed", Trebuchet MS, Arial, sans-serif; font-size: 14px;}
			.wf-active #header li {font-weight: 400; font-size: 16px;}
			.ie6 #header li, .ie7 #header li {display: inline; zoom: 1;} /* duplicate inline-block */
			.ie9 #header li {font-size: 12px;}

	/* Minor Nav Links */
	#header ul.minornav {float: left; padding-top: 33px; margin-left: 10px; color: rgb(255, 255, 255); font-size: 14px; width: 325px;}
		#header ul.minornav li {margin-right: 3%;}
		#header ul.minornav li a {color: rgb(26, 106, 127);}
		#header ul.minornav li a:hover {color: rgb(0, 43, 57);}

	/* Location Nav */
	#header ul.locationnav {float: right;}		
		#header ul.locationnav li.currentcatli {display: none;} /* duplicated current category in markup */

		#header ul.locationnav li h3 {margin: 0;}
		#header ul.locationnav li a {display: block; padding: 35px 13px 10px 13px; text-indent: -9999em; height: 40px; background-repeat: no-repeat; background-position: 0 0;}
			#header ul.locationnav li a:hover {background-color: rgba(0, 58, 73, .2); background-position: 0 -85px;}

				#header ul.locationnav li.newyork a {background-image: url("../images/locationnav_newyork.png"); width: 80px;}
				#header ul.locationnav li.california a {background-image: url("../images/locationnav_california.png"); width: 100px;}
				#header ul.locationnav li.canada a {background-image: url("../images/locationnav_canada.png"); width: 65px;}
				#header ul.locationnav li.everywhere a {background-image: url("../images/locationnav_everywhere.png"); width: 100px;}

			#header ul.locationnav li.selected a {background-color: rgb(0, 58, 73); background-position: 0 -170px; cursor: default;} /* style for current category */





/* ---------- HEADER STATES ------------------------ */
/* ------------------------------------------------- */

#header.collapsed {min-height: 85px;}
	#header.collapsed ul.locationnav .minishirt {display: none;}
	#header.collapsed .about {display: none;}

#header.expanded {}




/* ---------- RESPONSIVE STATES -------------------- */
/* ------------------------------------------------- */

@media screen and (max-width: 1050px) {
	#header ul.minornav {max-width: 265px;}
	#header ul.minornav li, .wf-active #header ul.minornav li {font-size: 13px;}
}

@media screen and (max-width: 995px) {
	#header .bgimage {height: 113px;}
	#header ul.minornav {float: right; padding-top: 0;}
	/* #header ul.locationnav li a {background-size: 85%;} /* find a way to make this work?? */
}

@media screen and (max-width: 700px) {
	#header .logo {padding-top: 10px;}
	#header .logo h1 a {background-size: 75%;}
	#header ul.locationnav li a {padding: 35px 5px 10px; background-position: -5px 0;}
	#header ul.locationnav li a:hover {background-position: -5px -85px;}
	#header ul.locationnav li.selected a {background-position: -5px -170px;}
}

@media screen and (max-width: 630px) {
	#header .logo {padding-top: 15px; margin-left: 10px; width: 125px;}
	#header .logo h1 a {background-size: 50%;}
}

@media screen and (max-width: 520px) {
	#header .bgimage {height: 162px;}
	#header .logo {margin: 0 auto; width: 250px; float: none; padding-top: 10px;}
	#header .logo h1 a {margin-top: 0; background-size: 100%;}
	#header ul.locationnav {float: none; margin: 0 auto; width: 400px;}
	#header ul.minornav {display: none;}
}

@media screen and (max-width: 380px) {
	#header .bgimage {height: 132px;}
	#header ul.locationnav {float: none; margin: 0 auto; width: 100%; text-align: center;}
	#header ul.locationnav li {float: none; display: inline-block;}
	#header ul.locationnav li a {padding: 10px 1px 5px; background-position: -10px -15px;}
		#header ul.locationnav li.newyork a {width: 70px; background-size: 90px;}
		#header ul.locationnav li.california a {width: 90px; background-size: 108px;}
		#header ul.locationnav li.canada a {width: 55px; background-size: 76px;}
		#header ul.locationnav li.everywhere a {width: 90px; background-size: 108px;}
	#header ul.locationnav li a:hover {background-position: -10px -86px;}
	#header ul.locationnav li.selected a {background-position: -10px -162px;}

}