/* ---------- SHIRT SECTION ------------------------ */
/* ------------------------------------------------- */

#main {}
	#main:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}


#featuredshirt {}
	#featuredshirt:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}


	#shirt {position: relative; width: 60%; margin-left: -5%; float: left; overflow: hidden;}

		#shirtimage {height: 700px; overflow: hidden;} /* TODO test and scale */
		#shirtimage img {width: 100%;}
		#shirtimage a {display: none;}

		#toggle {position: absolute; bottom: 50px; right: 0; text-transform: uppercase; font-weight: bold; font-size: 11px;}
			#toggle a, #toggle a:active, #toggle a:hover, #toggle a:focus {color: rgb(255, 255, 255); text-decoration: none;}
			#toggle .selected {display: none;}


	#shirtactions {width: 450px; float: right; margin-top: 40px;}
		.price, .goals, .sizes, .addtocart {margin-bottom: 20px; color: rgb(255, 255, 255);}

		.price {}
			.price .amount {float: left;}
				.price .amount .dollar {}
				.price .amount .number {display: inline-block; font-size: 100px; padding-top: 23px;}
			.price .tagline {float: left; width: 67%; margin-left: 10px; font-size: 18px; line-height: 1.4;}
				.ie8 .price .tagline {width: 60%;}
			.price .daysremaining {clear: both; margin-left: 18px; padding-top: 20px;} /* TODO kevin build in a tag if it's featured price or not purchaseable after feature price, so we can change text. */
				.price .daysremaining #expiresdate {font-weight: 700;} /* TODO can we make this not have a 0 in front of single digit numbers? */
				.price .daysremaining.helper,
				.price .daysremaining.helper:hover {color: rgba(255, 255, 255, .75);}

		.goals {clear: both; padding-top: 40px;}
			.goals .donated, .goals .goal {width: 40%; position: relative; z-index: 10;}
				.donated .number, .goal .number {font-size: 75px; line-height: 60px;}
				.goals .helper {display: block; margin-left: 18px; margin-top: -4px;}
				.goals .dollar {font-size: 20px;}

			.goals .donated {float: left;}
				.goals .donated .helper, .goals .donated .helper:hover {color: rgba(255, 255, 255, 1);} /* in this section keep full color */

				/* Donation amount Why link rotation */
				.goals .amountdonated .why {
					-moz-transform: rotate(-4deg);
					-webkit-transform: rotate(-4deg);
					-o-transform: rotate(-4deg);
					-ms-transform: rotate(-4deg);
					transform: rotate(-4deg);
				}



			.goals .goal {float: right; margin-right: 20px; text-align: right; color: rgba(255, 255, 255, .75);}
				.goals .goal:hover, .goals .goal:hover .helper {color: rgba(255, 255, 255, 1);} /* hover states */


			.goals .progress {padding-top: 35px; position: relative; z-index: 1;}
				.goals #progressbar {width: 100%; height: 52px; background-color: rgb(69, 28, 67);}
					.goals #progressbar .percentage {position: relative; height: 52px; background: rgb(119, 51, 116) url('../images/diagonal_pattern.png');}
					.goals #progressbar .percentage .label {position: absolute; top: 30%; right: 8px; opacity: .2; font-family: "proxima-nova-extra-condensed", 'TradeGothic', Trade Gothic, Trebuchet MS, Arial, sans-serif; font-weight: 600;}
			
			.goals .amountdonated {margin: 10px 0 0 0; position: relative; float: left; cursor: pointer;}
				.goals .amountdonated .why {display: inline-block; margin-left: 5px; width: 28px; height: 15px; opacity: .75; background: url(../images/why.png) no-repeat; text-indent: -9999em; overflow: hidden;}
					.goals .amountdonated:hover .why {opacity: 1;}

				#amountdonated_helper {width: 429px; background: url(../images/tooltip_arrow.png) no-repeat right center; position: absolute; left: -423px; top: -91px; z-index: 10;}
				#amountdonated_helper p {width: 375px; background: rgba(255, 255, 255, .9); color: rgb(0, 43, 57); padding: 20px;}
					#amountdonated_helper .helper {color: rgb(0, 43, 57); margin: 0;}

					/* why link tooltip */
					#amountdonated_helper p {
						-webkit-box-shadow: -9px 1px 15px 3px rgba(0, 0, 0, .3);
						-moz-box-shadow: -9px 1px 15px 3px rgba(0, 0, 0, .3);
						box-shadow: -9px 1px 15px 3px rgba(0, 0, 0, .3);
					}

		
		#sharing {float: right; padding-top: 4px;}

		.sizes {clear: both; padding-top: 20px;}
			.sizes:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
			.sizes h5 {margin: 20px 0 5px 0;}

			.sizes .category_size {float: left; margin-right: 20px;}
				.sizes .category_size:nth-child(2) {margin-right: 0; float: right;}

				.sizes .category_size.mens h5 {text-indent: -9999em; background: url(../images/sizes_guys.png) no-repeat left bottom;}
				.sizes .category_size.womens h5 {text-indent: -9999em; background: url(../images/sizes_ladies.png) no-repeat left top;}
				.sizes .category_size.kids h5 {text-indent: -9999em; background: url(../images/sizes_kids.png) no-repeat left top;}
				.sizes .category_size.dogs h5 {text-indent: -9999em; background: url(../images/sizes_puppies.png) no-repeat left bottom;}

			.sizes select {}
			.sizes .sizeselect {display: block; float: left; margin-right: 9px; background-color: rgba(228, 228, 228, .75); color: rgb(0, 58, 73); text-transform: uppercase; text-align: center; line-height: 200%; padding: 0 10px; font-weight: 900; font-size: 16px; cursor: pointer;}
                    .sizeselect:hover {background-color: rgb(225, 225, 225); color: rgb(39, 101, 111);}
                    .no-rgba .sizeselect {background-color: rgb(228, 228, 228);}
                .sizeselect.sizeselect:last-child {margin-right: 0;}
                .sizeselect.selected {background-color: rgb(255, 255, 255); color: rgb(225, 22, 101);}
                .sizeselect.stock0, .sizeselect.stock0:hover {opacity: .2;}

                #shirt_select {display: none;} /* hide select box of sizes */


         .addtocart {margin-top: 60px;}
	         .addtocart input {width: 100%; border: 0; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 35px; padding: 15px 0;}

	         .addtocart input.disabled {background: url(../images/addtocart_disabled.png) no-repeat center center, url(../images/addtocart_texture.png) no-repeat center top, rgba(228, 228, 228, .5); color: rgb(218, 218, 218); text-indent: -9999em; cursor: default;} /* disabled/no size selected state */
	         .addtocart input {background: url(../images/addtocart.png) no-repeat center center, url(../images/addtocart_texture.png) no-repeat center bottom, rgb(201, 23, 93); color: rgb(201, 23, 93); text-indent: -9999em; cursor: pointer;}

	         /* Add to Cart text shadow */
			.addtocart input.disabled {text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);}
			.addtocart input {text-shadow: 2px 0 4px rgba(136, 15, 62, .75);}


	         .addtocart #cart {text-align: center;}


#shirtdetails {background: rgb(204, 204, 204) url(../images/details_texture.png); padding: 60px 0;}
	#shirtdetails:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

	#shirtdetails #comments {float: right;}

	#shirtdetails .partners {width: 55%; float: left;}
		
		.partners .label {color: rgb(255, 138, 52); font-size: 11px; text-transform: lowercase;}
		.partners h2 {margin-top: 5px;}

		.partners .charity {border-bottom: 1px solid rgb(210, 210, 210); padding-bottom: 40px; margin-bottom: 40px;}
			.partners .charity .label {display: block; text-indent: -9999em; background: url(../images/featurednonprofit.png) no-repeat;}
			.partners .charity h2 {display: none;}
			.partners .charity .charitylogo {max-width: 670px;}
				.partners .charity .charitylogo img {max-width: 100%;}

		.partners .artist {}
			.partners .artist .label {display: block; text-indent: -9999em; background: url(../images/abouttheartist.png) no-repeat;}
			.partners .artist .artistphoto {width: 135px; height: 135px; float: left; margin-right: 20px; margin-top: 8px; border: 1px solid rgb(210, 210, 210); overflow: hidden;}
				.partners .artist .artistphoto img {width: 150%; margin-left: -15px; margin-top: -20px;} /* TODO this margining isn't going to work for all photos, what to do here? create thumbnail? */




/* ---------- SHIRT BG IMAGE OVERRIDES ------------- */
/* ------------------------------------------------- */

body.weektwelvekenmarrescue, body.kenmarrescue {background-position: 60% -10px; background-repeat: no-repeat;}
body.weektenmakeapaktmakeadifference {background-position: 0 -220px; background-repeat: no-repeat;}
body.bideaweestayawhile {background-position: right 0; background-repeat: no-repeat;}
body.weektwelvemayorsalliance {background-position: 50% 0; background-repeat: no-repeat;}




/* ---------- RESPONSIVE STATES -------------------- */
/* ------------------------------------------------- */


@media screen and (max-width: 1210px) {
	#shirtactions {margin-right: 20px;}
}

@media screen and (max-width: 1080px) {
	#shirtdetails .partners {width: 45%;}
	#shirtdetails {padding: 60px 0 60px 40px;}
	#shirt {width: 55%; margin-left: -2%;}
}

/* breakpoint where header like button vanishes */
@media screen and (max-width: 1000px) {
	#shirt {width: 48%; margin-left: 0;}
	#shirtactions {width: 415px;}
	.goals {padding-top: 10px;}
	.sizes .category_size:nth-child(2) {float: none; clear: left; padding-top: 15px;}
}

/* go to stacked layout */
@media screen and (max-width: 880px) {
	#shirt {width: 80%; margin: 0 auto; float: none;}
	#shirtimage {height: auto;}
	#shirtactions {clear: both; float: none; margin: 20px auto 0; width: 60%;}
	.sizes .category_size:nth-child(2) {float: right; clear: none; padding-top: 0;}
	.price .tagline {font-size: 28px; line-height: 1.3;}
	#amountdonated_helper {left: 60px; background: none;}
	#shirtdetails .partners {width: auto; float: none;}
	#shirtdetails {padding: 60px 40px;}
	#shirtdetails #comments {clear: both; float: none; margin: 0 auto; padding-top: 40px;}
}

@media screen and (max-width: 780px) {
	#shirtactions {width: 80%;}
}

@media screen and (max-width: 570px) {
	.sizes .category_size:nth-child(2) {float: none; clear: left; padding-top: 15px;}
}

@media screen and (max-width: 500px) {
	#shirt {width: 95%;}
	#shirtactions {width: 95%;}
	.price .tagline {font-size: 24px; line-height: 1;}
	.goals .donated {float: none; width: auto;}
	.goals .donated .helper {display: inline;}
	.goals .goal,
	.goals .goal .helper,
	.goals .progress,
	.goals .amountdonated,
	#sharing, /* does sharing work on iphone? */
	#shirtdetails #comments {display: none;}
	.sizes {padding-top: 0;}
	.addtocart {margin-top: 30px;}
}

@media screen and (max-width: 320px) {
	#shirtactions {width: 85%;}
	.price .amount {display: inline; float: none;}
	.price .amount .dollar {display: inline; font-size: 22px; padding: 0;}
	.price .amount .number {display: inline; font-size: 32px; padding: 0;}
	.price .tagline {display: inline; float: none; width: auto; margin: 0;}
	.donated .number, .goal .number {font-size: 45px; line-height: auto;}
	.goals .donated .helper {margin: 0;}
	.sizes {width: 88%; margin: 0 auto;}
}