/* ---------- SHIRT SECTION ------------------------ */
/* ------------------------------------------------- */

#main {}
	#main:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}


#featuredshirt {}
	#featuredshirt:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

	#featuredshirt .wrapper {background: url('../images/shirtactions_black_underlay.png') no-repeat 250px 0; padding-top: 45px;} /* black underlay for shirtactions to be read more easily */


	#shirt {position: relative; width: 800px; float: left; margin-left: -80px; overflow: hidden;}

		#shirtimage {height: 755px; overflow: hidden;} /* TODO test and scale */
		#shirtimage img {width: 100%;}

		#toggle {position: absolute; bottom: 50px; right: 0; text-transform: uppercase; font-weight: bold; font-size: 11px;}
			#toggle a, #toggle a:active, #toggle a:hover, #toggle a:focus {color: rgb(255, 255, 255); text-decoration: none;}
			#toggle .selected {display: none;}

		#charityflyout {}
			#charityflyout .charitylogo {position: absolute; top: 335px; left: 18px; z-index: 10; width: 170px; height: 170px; background-color: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); cursor: pointer;} /* TODO set bg color to be settable in the admin panel so that if they provide a logo on a different color bg */
				.charitylogo .logoimage {width: 110px; height: 122px; margin: 22px 0 0 27px; overflow: hidden;} /* TODO how do we force the spacing and sizing here? */
				.charitylogo .logoimage img {width: 100%;}
			
			#charityflyout #charityinfo {display: none; width: 550px; position: absolute; top: 375px; left: 97px; z-index: 5; height: 70px; overflow: hidden; padding: 10px 0 10px 120px; background-color: rgba(255, 255, 255, .9);}
				#charityflyout #charityinfo .charitylink {margin: 0; float: left;}
					#charityflyout #charityinfo h4 {margin: 8px 0 0 0;}
					#charityflyout #charityinfo .charitylink .goto {display: inline-block; vertical-align: top; font-size: 9px; color: rgb(85, 85, 85);}

				ul.charitysociallinks {list-style-type: none; float: right; margin: 20px 20px 0 0; padding: 0; width: 150px;}
					ul.charitysociallinks li a {display: block; float: left; width: 33px; height: 33px; margin-right: 12px; overflow: hidden; text-indent: -9999em; background: url('../images/sociallinks.png') no-repeat;}
						ul.charitysociallinks li.facebook a {background-position: 0 0;}
							ul.charitysociallinks li.facebook a:hover {background-position: 0 -40px;}
						ul.charitysociallinks li.twitter a {background-position: -48px 0;}
							ul.charitysociallinks li.twitter a:hover {background-position: -48px -40px;}
						ul.charitysociallinks li.youtube a {background-position: -97px 0;}
							ul.charitysociallinks li.youtube a:hover {background-position: -97px -40px;}
				


	#shirtactions {max-width: 450px; float: right; margin: 40px 0 0 20px;}
		.price, .goals, .sizes, .addtocart {margin-bottom: 20px; color: rgb(255, 255, 255);}

		.price {}
			.price .amount {float: left;}
				.price .amount .dollar {}
				.price .amount .number {display: inline-block; font-size: 100px; padding-top: 23px;}
			.price .tagline {float: left; width: 67%; margin-left: 10px; font-size: 18px; line-height: 1.4;}
			.price .daysremaining {clear: both; margin-left: 18px; padding-top: 20px;} /* TODO kevin build in a tag if it's featured price or not purchaseable after feature price, so we can change text. */
				.price .daysremaining #expiresdate {font-weight: 700;} /* TODO can we make this not have a 0 in front of single digit numbers? */

		.goals {clear: both; padding-top: 40px;}
			.goals .donated, .goals .goal {width: 40%; position: relative; z-index: 10;}
				.donated .number, .goal .number {font-size: 75px; line-height: 60px;}
				.goals .helper {display: block; margin-left: 18px; margin-top: -4px;}
				.goals .dollar {font-size: 20px;}

			.goals .donated {float: left;}
				.goals .donated .helper, .goals .donated .helper:hover {color: rgba(255, 255, 255, 1);} /* in this section keep full color */


			.goals .goal {float: right; margin-right: 20px; text-align: right; color: rgba(255, 255, 255, .75);}
				.goals .goal:hover, .goals .goal:hover .helper {color: rgba(255, 255, 255, 1);} /* hover states */


			.goals .progress {padding-top: 35px; position: relative; z-index: 1;}
				.goals #progressbar {width: 445px; height: 52px; background-color: rgb(69, 28, 67);}
					.goals #progressbar .percentage {position: relative; width: 52%; height: 52px; background: rgb(119, 51, 116) url('../images/diagonal_pattern.png');}
					.goals #progressbar .percentage .label {position: absolute; top: 30%; right: 8px; opacity: .2; font-family: "proxima-nova-extra-condensed", 'TradeGothic', Trade Gothic, Trebuchet MS, Arial, sans-serif; font-weight: 600;}
			
			.goals .amountdonated {margin: 10px 0 0 0; position: relative;}
				.goals .amountdonated .why {display: inline-block; margin-left: 5px; width: 28px; height: 15px; opacity: .75; background: url(../images/why.png) no-repeat; text-indent: -9999em;}
					.goals .amountdonated:hover .why {opacity: 1;}

				#amountdonated_helper {width: 429px; background: url(../images/tooltip_arrow.png) no-repeat right center; position: absolute; left: -423px; top: -91px; z-index: 10;}
				#amountdonated_helper p {width: 375px; background: rgba(255, 255, 255, .9); color: rgb(0, 43, 57); padding: 20px;}
					#amountdonated_helper .helper {color: rgb(0, 43, 57); margin: 0;}


		.sizes {margin-top: 60px;}
			.sizes:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
			.sizes h5 {margin: 0 0 5px 0;}

			.sizes .category_size {float: left;}
				.sizes .category_size:nth-child(2) {float: right;} /* TODO browser test - second category aligns right */

				.sizes .category_size.mens h5 {text-indent: -9999em; background: url(../images/sizes_guys.png) no-repeat left bottom;}
				.sizes .category_size.womens h5 {text-indent: -9999em; background: url(../images/sizes_ladies.png) no-repeat left top;}
				.sizes .category_size.kids h5 {text-indent: -9999em; background: url(../images/sizes_kids.png) no-repeat left top;}
				.sizes .category_size.dogs h5 {text-indent: -9999em; background: url(../images/sizes_puppies.png) no-repeat left bottom;}

			.sizes select {}
			.sizes .sizeselect {display: block; float: left; height: 33px; width: 33px; margin-right: 20px; background-color: rgba(228, 228, 228, .75); color: rgb(0, 58, 73); text-transform: uppercase; text-align: center; line-height: 200%; font-weight: 900; cursor: pointer;}
                    .sizeselect:hover {background-color: rgb(225, 225, 225); color: rgb(39, 101, 111);}
                .sizeselect.sizeselect:last-child {margin-right: 0;}
                .sizeselect.selected {background-color: rgb(255, 255, 255); color: rgb(225, 22, 101);}
                .sizeselect.stock0, .sizeselect.stock0:hover {opacity: .2;} /* TODO add hover saying "out of stock" */

                #shirt_select {display: none;} /* hide select box of sizes */


         .addtocart {margin-top: 60px;}
	         .addtocart input {width: 445px; border: 0; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 35px; padding: 15px 0;}

	         .addtocart input.disabled {background: url(../images/addtocart_disabled.png) no-repeat center center, url(../images/addtocart_texture.png) no-repeat center top, rgba(228, 228, 228, .5); color: rgb(218, 218, 218); text-indent: -9999em; cursor: default;} /* disabled/no size selected state */
	         .addtocart input {background: url(../images/addtocart.png) no-repeat center center, url(../images/addtocart_texture.png) no-repeat center bottom, rgb(201, 23, 93); color: rgb(201, 23, 93); text-indent: -9999em; cursor: pointer;}

	         .addtocart #cart {text-align: center; display: none;} /* TODO */


#shirtdetails {background: rgb(204, 204, 204) url(../images/details_texture.png); padding: 60px 0;}
	#shirtdetails:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

	#shirtdetails .partners {max-width: 700px; float: left;}
		
		.partners .label {color: rgb(255, 138, 52); font-size: 11px; text-transform: lowercase;}
		.partners h2 {margin-top: 5px;}

		.partners .charity {border-bottom: 1px solid rgb(210, 210, 210); padding-bottom: 40px; margin-bottom: 40px;}
			.partners .charity .label {display: block; text-indent: -9999em; background: url(../images/featurednonprofit.png) no-repeat;}
			.partners .charity h2 {display: none;}
			.partners .charity .charitylogo {max-width: 670px;}
				.partners .charity .charitylogo img {max-width: 100%;}

		.partners .artist {}
			.partners .artist .label {display: block; text-indent: -9999em; background: url(../images/abouttheartist.png) no-repeat;}
			.partners .artist .artistphoto {width: 135px; height: 135px; float: left; margin-right: 20px; margin-top: 8px; border: 1px solid rgb(210, 210, 210); overflow: hidden;}
				.partners .artist .artistphoto img {width: 150%; margin-left: -15px; margin-top: -20px;} /* TODO this margining isn't going to work for all photos, what to do here? create thumbnail? */

	#shirtdetails #comments {}



/* ---------- SHIRT BG IMAGE OVERRIDES ------------- */
/* ------------------------------------------------- */

body.mayorsalliance {background-position: -320px 0; background-repeat: no-repeat;}





/* ---------- RESPONSIVE STATES -------------------- */
/* ------------------------------------------------- */

@media screen and (max-width: 1200px) {
	#shirt {width: 700px; margin-left: 0;}
	#shirtactions {margin: 40px 20px 0 0;}
	#shirtdetails {padding: 60px 30px;}
}

@media screen and (max-width: 1170px) {
	#shirt {width: 600px;}
	#featuredshirt .wrapper {background-size: 75%;}
}

@media screen and (max-width: 1070px) {
	/* #shirtactions {max-width: 350px;} */
	#shirt {width: 500px;}
}

@media screen and (max-width: 995px) {
	#shirtactions {max-width: 400px;}
}

@media screen and (max-width: 920px) {
	#shirt {width: 450px;}
}

@media screen and (max-width: 875px) {
	#shirtactions {max-width: 300px;}
}

@media screen and (max-width: 770px) {
	#shirt {float: none; margin: 0 auto; width: 90%;}
	#shirtactions {max-width: 445px; float: none; margin: 0 auto;}
	#featuredshirt .wrapper {background-position: center bottom;}
	#charityflyout {display: none;}
}