/* ---------- SOCIALPAKT SECTION ------------------- */
/* ------------------------------------------------- */

#socialpakt {
		padding-bottom: 100px;

		/* Fallback Gradient BG Image and Color for browsers that don't support multiple BGs */
		background: rgb(145, 199, 121) url("../images/header_gradient_fallback.png") repeat-y;

		/* Internet Explorer 6-9 Filters -- only one gradient and no texture */
	    background:none\0/;
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	   
   		/* IE 10 */
		background:
			url("../images/header_texture.png"),
			-ms-linear-gradient(top, rgba(0, 0, 0, .25) 0%, transparent 15%);

	    /* Old Webkit syntax - Chrome, Safari4+ */
	    background-image:
	    	url("../images/header_texture.png"),
	    	-webkit-gradient(linear,left top,right top,from(rgba(177, 212, 138, 1)), to(rgba(146, 212, 218, 1)));

	    /* New Webkit Syntax - Chrome10+, Safari5.1+ */
	    background:
	    	url("../images/header_texture.png"),
	    	-webkit-linear-gradient(left, rgba(177, 212, 138, 1), rgba(146, 212, 218, 1));

	    /* Moz -- FF3.6 + */
	    background-image:
	    	url("../images/header_texture.png"),
	    	-moz-linear-gradient(left, rgba(177, 212, 138, 1), rgba(146, 212, 218, 1));

	    /* Opera */
	    background-image:
	    	url("../images/header_texture.png"),
	    	-o-linear-gradient(left, rgba(177, 212, 138, 1), rgba(146, 212, 218, 1));

	    /* W3C Spec */
	    background-image:
	    	url("../images/header_texture.png"),
	    	linear-gradient(left, rgba(177, 212, 138, 1), rgba(146, 212, 218, 1));
	}


	#mission {text-align: center; margin-left: -63px; cursor: pointer;}
		#mission h1 {display: block; text-indent: -9999em; margin: 0;}
		#mission a img {opacity: .75;}
		#mission a:hover img {opacity: 1;}

	#socialpakt .aboutus {padding: 0 20px; margin-top: -10px;}
		#socialpakt .aboutus:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
		#socialpakt .aboutus h2 {margin-top: 0;}

		#socialpakt .aboutus .buyashirt {width: 25%; float: left; margin-right: 11%;}
		#socialpakt .aboutus .shareashirt {width: 25%; float: left;}
		#socialpakt .aboutus .wearyourshirt {width: 25%; float: right; margin-right: 4%;}

		#socialpakt .aboutus h4 {margin-bottom: 0;}
		#socialpakt .aboutus p {margin-top: 0; color: rgb(0, 43, 57);}

		#socialpakt .aboutus .buyashirt h4 {display: block; text-indent: -9999em; background: url(../images/mission_buyashirt.png) no-repeat; width: 205px; height: 50px;}

		#socialpakt .aboutus .shareashirt h4 {display: block; text-indent: -9999em; background: url(../images/mission_shareashirt.png) no-repeat; width: 232px; height: 50px;}

		#socialpakt .aboutus .wearyourshirt h4 {display: block; text-indent: -9999em; background: url(../images/mission_wearyourshirt.png) no-repeat; width: 285px; height: 50px;}






/* ---------- RESPONSIVE STATES -------------------- */
/* ------------------------------------------------- */

@media screen and (max-width: 1220px) {
	#locations .location.newyork {margin-left: 20px;}	
}

@media screen and (max-width: 1190px) {
	#locations .location {width: 270px;}	
}

@media screen and (max-width: 1110px) {
	#locations .location {width: 245px;}	
}

@media screen and (max-width: 1000px) {
	#locations .location {width: 290px; min-height: inherit;}
	.location.selected {background: none;}	
	#locations .location.california {clear: both; margin-left: 20px;}
}

@media screen and (max-width: 590px) {
	#locations .location {width: 75%; border: 1px solid red; float: none; clear: both; margin: 0 auto !important;}
	.location h4, .location p {width: auto;}
}