body {background-color: #f9f9f9; color: #333; font-family: proxima-nova, Verdana, Arial, Helvetica, sans-serif; font-weight: 200; margin: 0; padding: 0;} 

h1 {text-transform: uppercase; color: #178a94; font-size: 70px; margin: 0 0 20px 0; padding: 0;}
h2 {font-size: 24px; color: rgb(23, 138, 148);}
h3 {font-size: 22px; color: rgb(36, 105, 117);}
h4 {font-size: 16px; color: #6E356A;}
    
p {font-size: 14px; line-height: 1.8em; font-weight: 400;}
strong {color: #fff;}
p strong {color: #6E356A;}
    
a {color: #5A6A2B; text-decoration: none;}
a:hover {color: rgb(83, 169, 184); text-decoration: underline;}



/* non-css3 fallbacks -- css3 in separate file */
.backgroundgradient.header {display: block; background-image: url(../images/header_gradient.jpg); background-repeat: repeat-x;}
    .header .texture {background: url(../images/texture_header.png) repeat-x; height: 210px;}

.backgroundgradient.footer {display: block; background: url(../images/bottom_gradient.jpg) repeat-x;}
    .footer .texture {background: url(../images/texture_bottom.png) 250px -25px; padding-top: 50px;}
    .footer .texture:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

.wrapper {margin: 0 auto; width: 960px;}


#shoppingcart a {position: absolute; right: 8%; top: -8px; font-size: 12px; font-weight: 600; padding: 15px 15px; background-color: #ada0d6;}
    #shoppingcart a {color: #fff; text-decoration: none;}
        

header {margin-top: 10px;}
    header:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
    
    .logo {float: left; width: 600px;}
        .logo h1 {display: block; text-indent: -9999em; background: url(../images/logo.png) no-repeat; margin: 40px 0 0 0; height: 140px;}
        .tagline {display: block; text-indent: -9999em;}


    .donated {width: 245px; float: right; padding-top: 50px; color: #178a94;}

        .donated .line1 {display: block; font-size: 18px; font-weight: 200; text-transform: uppercase; line-height: 12px;}
        .donated .line2 {display: block; font-size: 40px; font-weight: 600; text-transform: uppercase; color: #246975;}
        .donated .line3 {display: block; font-weight: 400; font-size: 65px; line-height: 56px; float: left; font-family: museo; margin-right: 10px; color: #246975;}
        .donated .line4 {font-family: ff-market-web; text-transform: lowercase; line-height: 20px; font-size: 32px; padding-top: 5px;}
        .donated .line5 {font-size: 18px; display: block; font-weight: 600; font-family: museo; padding-top: 5px;}

    

    
#content {width: 980px; margin: 0 auto; overflow: visible; position: relative; padding-top: 60px; margin-bottom: 50px;}
    #content:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

.shareit {position: absolute; left: -100px; top: 60px; width: 100px;}
    
#main {}

    #shirtblock { float: left; width: 687px; }
        #shirtblock h3.explanation {margin: 0 20px 10px 10px; font-weight: 600; font-size: 18px; text-transform: uppercase; color: #451C43;}
        #shirtblock h3.explanation .label {font-weight: 200; padding-right: 5px;}

    #shirt {width: 670px; float: left; background: url(../images/pictureframe.png) no-repeat -20px 0; padding: 27px 0 10px 17px;}

        .shirtimage {display: block; overflow: hidden; float: left; height: 425px;}
            .shirtimage.big {width: 81%; cursor: pointer; }
            .shirtimage.big img {margin-left:-10px;}
            .shirtimage.big.slide {width: 41%;}
            .shirtimage.thumbnail {width: 10%; margin-left: 2px; cursor: pointer; position: relative;}
            .shirtimage.thumbnail.slide {width:50%;}
                .shirtimage.thumbnail img {opacity: .7;}
                .shirtimage.thumbnail:hover img {opacity: 1;}

        a#photodetaillink { display: none; margin-left:15px; }



    #purchase {width: 250px; float: right; overflow: hidden;}

        .charity {margin-bottom: 30px;}
            .charity h3 {font-family: ff-market-web; margin: 0; text-transform: lowercase; font-weight: normal;}
            .charity .charity_logo {display: block; overflow: hidden; width: 280px; opacity: .8; margin-top: 5px; border: 0;}
                .charity .charity_logo:hover {opacity: 1; border: 0;}
                .charity .charity_logo img {width: 100%;}


        #donations {margin-bottom: 10px; padding-bottom: 30px; border-bottom: 1px solid #ccc;}
            #donations:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

            .dollarsign {font-weight: normal;}
            #donations h3 {font-size: 11px; margin: 0; padding: 0 0 5px 0; text-transform: uppercase; font-weight: normal;}
            #donations .number {font-size: 38px; font-weight: 600; text-shadow: 1px 1px 2px #fff; font-family: museo, Verdana, Arial, sans-serif;}


            .donation {float: left; border-right: 1px solid #fff; padding-right: 10px;}
                .donation h3 {color: #5ba33d;}
                .donation .number {color: #31702a;}

            .goal {float: left; border-left: 1px solid #b3d9da; padding-left: 10px;}
                .goal h3 {color: #53a9b8;}
                .goal .number {color: #246975;}

            #timeleft {clear: both; padding-bottom: 20px;}
                #timeleft h3 {font-weight: 600; font-size: 18px; margin: 0; color: #451C43; text-transform: uppercase;}
                #expiresdate {font-size: 22px; color: #999; font-weight: 200;}
                    #expiresdate .days,
                    #expiresdate .hours,
                    #expiresdate .minutes,
                    #expiresdate .seconds {font-weight: 600; font-family: museo, Verdana, Arial, sans-serif; font-size: 35px;}
                    #expiresdate .days {color: #451c43;}
                    #expiresdate .hours {color: #6e356a;}
                    #expiresdate .minutes {color: #8A4385;}
                    #expiresdate .seconds {color: #B56BB0;}

        #sizes {margin: 0 0 30px 0;}
            #sizes:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
            #shirt_select {display: none;} /* hide select box of sizes */
            #sizes h3 {font-weight: normal; color: #6e356a; display: inline-block; margin-bottom: 10px;}
                .price {font-weight: 600; color: #451c43; font-family: museo, Verdana, Arial, sans-serif;}
                .sizeandfit {display: inline; font-size: 11px; font-style: italic; color: #999;}
                    .sizeandfit:hover {color: #666; text-decoration: none;}
            
            ul.options {list-style-type: none; margin: 0; padding: 0;}
                .size {display: block; float: left; border: 1px solid #876e86; color: #876e86; height: 18px; width: 38px; text-align: center; padding-top: 6px; font-weight: 600; text-transform: uppercase; margin-right: 20px; font-size: 12px; cursor: pointer;}
                    .size:hover {background-color: #dbcdda; border-color: #7e457b; color: #7e457b;}
                .size.selected {background-color: #7e457b; border-color: #361034; color: #fff;}

            
            .womens {clear: both;}
            .mens {clear: both;}
        
        #addtocart {clear: both;}
            input#cartbutton {width: 240px; height: 90px; border-radius: 10px; background-color: #178a94; border: 1px solid #a8ddbe; background-image: url(../images/texture_button.png); background-position: center center; color: #fff; font-size: 30px; text-transform: uppercase; font-weight: 600; font-family: proxima-nova, Verdana, Arial, Helvetica, sans-serif;}
                input#cartbutton:hover, input#cartbutton:focus {outline: none; background-color: #ac9cd3; border-color: #d1aad5;}

                input#cartbutton.disabled {background-color: #999999; border-color: #666666;}




#comments {clear: left; width: 630px; float: left; margin: 50px 0 0 10px; border-top: 3px solid #451c43; padding-top: 30px;}
    #comments h3 {margin-top: 0px; color: #471f45; text-transform: uppercase; font-size: 42px; font-weight: 600;}


#about {clear: right; width: 250px; float: right;}
    #about .label {font-size: 24px; color: #53a9b8; font-family: ff-market-web;}
    #about h3 {font-size: 28px; margin: 5px 0 15px 0; padding: 0; font-weight: 600; font-family: museo;}
        #about h3 a {color: #5a6a2b;}
        #about h3 a:hover {color: rgb(83, 169, 184);}
        #about a {font-family: museo;}

    .aboutcharity {border-top: 3px solid #53a9b8; margin-top: 50px; padding-top: 30px;}
        .aboutcharity .logo {margin-bottom: 15px;}

    .aboutartist {border-top: 3px solid #53a9b8; margin-top: 50px; padding-top: 30px;}


#bottom {margin-top: 50px; padding-top: 0px;}
    #bottom h4, #bottom h4 a {text-transform: uppercase; font-size: 28px; margin: 0;}
        #bottom h4 a {color: #991148;}
        #bottom h4 a:hover {color: rgb(83, 169, 184);}
        
    .story {float: left; width: 600px; clear: both; padding-bottom: 50px;}
        #bottom .story h4 {font-size: 36px; margin-bottom: 10px; display: none;}
        .video:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

    .aboutus {display: block; width: 960px; margin: 30px 0 70px 0; color: #991148;}
        a.aboutus:hover {color: #178a94; text-decoration: none;}


        .aboutus .line1 {font-size: 31px; display: inline; font-family: ff-market-web;}
        .aboutus .line2 {font-size: 34px; display: inline;}
        .aboutus .line3 {font-size: 34px; display: block;}
            .aboutus .line3 .word8, .aboutus .line3 .word9, .aboutus .line3 .word10 {font-weight: 600; font-family: museo;}

    .contestcallout {width: 250px; float: right;}
        .contestcallout h2 {text-transform: uppercase; font-size: 18px; margin: 0; padding: 0;  line-height: 18px; font-weight: 600; color: #246975;}
            .contestcallout h2 .line1 {font-size: 19px;}
            .contestcallout h2 .line2 {font-size: 21px; line-height: 30px;}
            .contestcallout h2 .line3 {font-weight: 800; display: block; font-size: 43px; line-height: 43px;}
        .contestcallout p {margin: 0; padding: 0 0 0 3px; font-size: 18px; color: #246975;}
        .like {float: right;}


/* NEWSLETTER SIGNUP */
#mailinglist {width: 250px; float: right; margin-top: 30px; padding-top: 30px; border-top: 1px solid #451C43; color: #471F45;}
    #mailinglist .newslettertitle {text-transform: lowercase; font-family: ff-market-web; font-size: 34px;}
    #mailinglist label {font-size: 14px; text-transform: uppercase;}
    #mailinglist .errorlist {color: #333; list-style-type: none; margin: 0; padding: 0; font-size: 11px; font-weight: bold;}

input.homepage-email {width: 190px; border: 2px solid #178a94; background: #fff; color: #0d565c; padding: 5px; font-family: museo, Verdana, Arial, sans-serif; display: block; margin-bottom: 10px;}
    input.homepage-email:focus {outline: none; border-color: #0d565c; }

input.homepage-submit {text-transform: uppercase; font-family: proxima-nova,arial,sans-serif; color: #fff; font-weight: 600; border: 1px solid #178a94; background: #53a9b8; padding: 5px 8px; font-size: 18px;}
    input.homepage-submit:hover {border: 1px solid #0d565c; background: #178a94;}



#footer {background: url(../images/footer.png) repeat-x; clear: both; padding: 40px 0;}

    #footer .wrapper:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

    .nav {float: left; list-style-type: none; margin: 0; padding: 0;}
        .nav li {display: block; float: left; text-transform: uppercase; font-size: 16px; margin-right: 30px; color: #fff;}
        .nav li a {color: #fff;}
            .nav li a:hover {color: rgb(83, 169, 184); text-decoration: none;}

    .subnav {float: left; clear: left; list-style-type: none; margin: 0; padding: 15px 0 0 0;}
        .subnav li {display: block; float: left; color: #7c5e7a; text-transform: uppercase; font-size: 11px; font-style: italic; margin-right: 15px;}
        .subnav li a {color: #7c5e7a;}
            
    .sociallinks {width: 250px; float: right; margin: 0; padding: 0;}
        .sociallinks li {list-style-type: none; margin: 0 20px 0 0; padding: 0; display: block; float: left; text-indent: -9999em; height: 35px; width: 30px; opacity: .75; cursor: pointer;}
            .sociallinks li:hover {opacity: 1;}
        .sociallinks .facebook {background: url(../images/facebook.png) no-repeat;}
        .sociallinks .twitter {background: url(../images/twitter.png) no-repeat;}
        .sociallinks .youtube {background: url(../images/youtube.png) no-repeat;}
        .sociallinks .vimeo {background: url(../images/vimeo.png) no-repeat;}

    .copyright {float: left; padding-top: 16px; font-size: 10px; color: #fff; width: 232px; text-align: right;}





/* CHARITY/ARTIST PAGES */
.partnerpage {}
#partnerblock h2 {margin: 0px; color: #471f45; text-transform: uppercase; font-size: 60px; font-weight: 600;}


    /* ARTIST PAGE IMAGES */
    .artistpage #sidebar {float: left; width: 350px; padding-top: 30px;}
        /* image */
        .artistpage .partnerimage {display: block; overflow: hidden; width: 350px; margin-bottom: 50px; border: 10px solid #53a9b8;}
            .artistpage .partnerimage img {margin-bottom: -5px; width: 100%;}

    /* CHARITY PAGE IMAGES */
    .npopage #sidebar {float: left; width: 350px; padding-top: 30px;}
        /* image */
        .npopage .partnerimage {display: block; overflow: hidden; width: 350px; margin-bottom: 50px; }
            .npopage .partnerimage img {margin-bottom: -5px; width: 100%;}


        /* LINKS -- both pages */
        .partnerpage #sidebar ul {list-style-type: none; margin: 0; padding: 0;}
        .partnerpage #sidebar h3 {color: #999; text-transform: uppercase; font-size: 12px; font-weight: normal;}
        .partnerpage #sidebar .partnerlinks {margin: 30px 0; font-size: 32px;}
            .partnerpage #sidebar .partnerlinks li {text-transform: uppercase; font-weight: 200; display: inline-block; margin-left: -8px;}
            .partnerpage #sidebar .partnerlinks li a {padding: 2px 22px 2px 5px; color: rgb(83, 169, 184);}
            .partnerpage #sidebar .partnerlinks li a:hover {color: #fff; text-decoration: none; background-color: rgb(83, 169, 184);}
            .partnerpage #sidebar .partnerlinks .divider {font-weight: 800; margin-left: -27px; color: rgb(36, 105, 117);}
            
        .partnerpage #sidebar .tshirtlinks {}
            .partnerpage #sidebar .tshirtlinks li {font-size: 24px; font-weight: 600;}
                .partnerpage #sidebar .tshirtlinks li div.shirtdetails{clear:both;}
                    .partnerpage #sidebar .tshirtlinks li div.shirtlink {margin-left:110px;}
                    .partnerpage #sidebar .tshirtlinks li div.shirtpicture {float:left;}


    /* ABOUT */
    .partnerpage #description {float: right; width: 580px; font-size: 14px; line-height: 1.8em; font-weight: 400;}
        .partnerpage #description p:first-child {font-size: 20px; line-height: 36px; color: rgb(36, 105, 117); font-family: museo;}
        .partnerpage #description p:first-child::first-line {font-weight: bold;}
        .partnerpage #description h3 {clear: both; text-transform: uppercase; color: #471F45; font-size: 24px; margin-top: 40px;}

        

    


/* PARTNER LIST */
#partnerlist {list-style-type: none; margin: 0; padding: 0;}
    #partnerlist .partner {padding: 20px 0; margin-bottom: 20px; border-bottom: 1px solid #451c43;}
    #partnerlist .partner h3 {font-size: 28px; margin: 5px 0 15px 0; padding: 0; font-weight: 600; font-family: museo;}
    #partnerlist .partner .partnerimage {display: block; width: 300px; float: left; margin-right: 30px;}
        #partnerlist .partner .partnerimage img {width: 100%;}
    #partnerlist #description {}
    #partnerlist .partner a.more {}


/* ARTIST LIST */
#partnerlist {list-style-type: none; margin: 0; padding: 0;}
    #partnerlist .artist {padding: 20px 0; margin-bottom: 20px; border-bottom: 1px solid #451c43;}
        #partnerlist .artist:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
    #partnerlist .artist h3 {font-size: 28px; margin: 5px 0 15px 0; padding: 0; font-weight: 600; font-family: museo;}
    #partnerlist .artist #description {width: 500px; margin-left: 30px; float: left;}
    #partnerlist .artist .artistimage {display: block; width: 300px; float: left;}
        #partnerlist .artist .artistimage img {width: 100%;}
    #partnerlist .artist a.more {display: block; font-size: 18px; font-weight: 600;}

/* NONPROFIT LIST */
#partnerlist {list-style-type: none; margin: 0; padding: 0;}
    #partnerlist .nonprofit {padding: 20px 0; margin-bottom: 20px; border-bottom: 1px solid #451c43;}
        #partnerlist .nonprofit:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
    #partnerlist .nonprofit h3 {font-size: 28px; margin: 5px 0 15px 0; padding: 0; font-weight: 600; font-family: museo;}
    #partnerlist .nonprofit #description {width: 500px; margin-left: 30px; float: left;}
    #partnerlist .nonprofit .nonprofitimage {display: block; width: 300px; float: left;}
        #partnerlist .nonprofit .nonprofitimage img {width: 100%;}
    #partnerlist .nonprofit a.more {display: block; font-size: 18px; font-weight: 600;}

/* possible fix for popup cart pages width issue */
#cboxLoadedContent #content {width: auto;}

table.sizingchart {border:1px solid #6E356A; border-collapse:collapse;}
    table.sizingchart tr {border:1px solid #6E356A;}
    table.sizingchart td {border:1px solid #6E356A;}
    table.sizingchart th {border:1px solid #6E356A; background-color: #6E356A;}
    table.sizingchart th strong {color:white;}
    table.sizingchart td p strong {margin-left: 5px;}