body {background-color: #f9f9f9; color: #333; font-family: Proxima Nova, Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0;} /* this should be webfonts replaced */

h1 {font-size: 72px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
    
p {font-size: 14px; line-height: 2em;}
    
a {text-decoration: underline;}
a:hover {text-decoration: underline;}


    .texture {background: url(../images/texture.png) repeat-x 0 -5px; height: 208px;}
    .backgroundgradient {height: 208px; width: 100%; position: absolute; z-index: -1;}
            .backgroundgradient.header {top: 25px;
                background-image: -webkit-gradient(linear, left 10, right bottom, color-stop(0.15, rgb(177,212,138)), color-stop(0.36, rgb(172,221,182)), color-stop(0.87, rgb(146,212,218)));
        background-image: -moz-linear-gradient(left 10, rgb(177,212,138) 15%, rgb(172,221,182) 36%, rgb(146,212,218) 87%);}
            .backgroundgradient.footer {
                background-image: -webkit-gradient(linear, left 10, right bottom, color-stop(0.15, rgb(218,170,181)), color-stop(0.36, rgb(201,176,215)), color-stop(0.87, rgb(153,143,205)));
                background-image: -moz-linear-gradient(left 10, rgb(218,170,181) 15%, rgb(201,176,215) 36%, rgb(153,143,205) 87%);}

        
header {margin: 30px auto; width: 960px;}
    header:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
    
    .logo {float: left; width: 600px;}
        .logo h1 {display: block; text-indent: -9999em; background: url(../images/logo.png) no-repeat; margin: 30px 0 0 0; height: 120px;}
        .tagline {display: block; text-indent: -9999em; background: url(../images/tagline.png) no-repeat; height: 20px;} /* this should be webfonts replaced */
            
    .contestcallout {width: 350px; float: right; padding-top: 15px; /*background: url(../images/contest_texture.png) no-repeat;*/}
        .contestcallout h2 {-webkit-transform: rotate(-10deg); text-transform: uppercase; color: #178a94; font-size: 36px; text-shadow: 1px 3px 2px #fff;}
        .likebutton {}
    

.shareit {float: left; width: 50px;}
    
#content {width: 960px; border: 1px solid red; margin: 0 auto;}
    #content:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
    
#main {}
            
    #shirt {width: 630px; float: left;}
        .shirtimage {border: 8px solid #451c43; width: 580px; height: 400px;}
            .shirtimage img {}
        .design {}
            .design a {}
        
    #purchase {width: 330px; float: right;}

        .charity {}
            .charity h2 {}
            .charity img.logo {}

        #donations {background-color: #f2f6f6;}
            .dollarsign {font-weight: bold;}

            .donation {float: left; width: 49%;}
                .donation h3 {}
                .donation .number {}
            .goal {float: left; width: 49%;}
                .goal h3 {}
                .goal .number {}

        #shirt_select {display:none;}

        #sizes {}
            #sizes h3 {}
            .price {}
            .sizeandfit {}
            
            ul.options {}
                .size {}
                .size.selected { font-weight:bold; color: red;}
                .size.unavailable {}
            
            .womens {}
            .mens {}
        
        #addtocart {}
            input#cartbutton {}


#comments {clear: left; width: 630px; float: left;}


#about {clear: right; width: 330px; float: right;}
    #about .label {}
    #about h3 {}

    .charity {}
        .charity .logo {}

    .artist {}


#bottom {margin-top: 50px;}
    
    .contest {float: left; width: 630px;}
        
    .story {width: 330px; float: right;}
        .video {}


#footer {background-color: #431c41;}
    #footer:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

    ul.nav {float: left;}
        .nav li {}

    ul.subnav {float: left; clear: left;}
        .subnav li {}
            
    ul.sociallinks {width: 330px; float: right;}
        .sociallinks li {}
        .sociallinks .facebook {}
        .sociallinks .twitter {}
        .sociallinks .youtube {}
        .sociallinks .vimeo {}
