@charset "utf-8";
/* CSS Document */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background: #6fbfce url('../images/bg-repeat.png') repeat-x 0px 208px;
}
* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
    display: block;
    height: 0px;
    padding: 0;
    margin: 0;
    border: 0 none;
}
img { 
    margin: 0;
    padding: 0;
    border: 0;
}
#header {
    display: block;
    height: 166px;
    background: #ffffff;
    padding: 43px 0px 0px 0px;
    text-align: center;
    min-width: 1146px;
}
#content {
    width: 1146px;
    height: 971px;
    padding: 57px 0 0 0;
    background: url('../images/content-bg.png') no-repeat;
    margin: 0 auto; 
    text-align: center;
}