{% extends "base.html" %}

{% load producttags %}

{% block fbmetadata %}
  <meta property="og:title" content="{{ product.title }}"/> 
  <meta property="og:url" content="http://{{ request.get_host }}/shirt/{{ product.slug }}/"/> 
  <meta property="og:image" content="http://{{ request.get_host }}{{ product.productphoto_set.all.0.photo.url }}"/> 
  <meta property="og:site_name" content="SocialPakt - Make a Pakt, Make a Difference"/> 
  <meta property="og:type" content="product" /> 
  <meta property="fb:app_id" content="{{ settings.FACEBOOK_APP_ID }}"> 
  <meta property="og:description" content="{{ product.description }}"/> 
{% endblock fbmetadata %}

{% block sharethis %}
  <span  class='st_facebook_vcount' displayText='Facebook'
    st_title = "{{ product.title }}"
    st_url = "http://{{ request.get_host }}/shirt/{{ product.slug }}/"
    st_image = "http://{{ request.get_host }}{{ product.productphoto_set.all.0.photo.url }}"
    st_summary = "{{ product.description }}"
  ></span>
  <span  class='st_twitter_vcount' displayText='Tweet'
    st_title = "{{ product.title }}"
    st_url = "http://{{ request.get_host }}/shirt/{{ product.slug }}/"
    st_image = "http://{{ request.get_host }}{{ product.productphoto_set.all.0.photo.url }}"
    st_summary = "{{ product.description }}"
  ></span>
  <span  class='st_email_vcount' displayText='Email'
    st_title = "{{ product.title }}"
    st_url = "http://{{ request.get_host }}/shirt/{{ product.slug }}/"
    st_image = "http://{{ request.get_host }}{{ product.productphoto_set.all.0.photo.url }}"
    st_summary = "{{ product.description }}"
  ></span>
  <span  class='st_plusone_vcount' 
  st_title = "{{ product.title }}"
    st_url = "http://{{ request.get_host }}/shirt/{{ product.slug }}/"
    st_image = "http://{{ request.get_host }}{{ product.productphoto_set.all.0.photo.url }}"
    st_summary = "{{ product.description }}"
  ></span>
{% endblock sharethis %}

{% block localscripts %}
      <script src="{{ STATIC_URL }}js/lib/countdown.js"></script>
      <script src="{{ STATIC_URL }}js/catalog.js"></script>
{% endblock localscripts %}

{% block main %}
    <div id="featuredshirt" class="{{product.slug}}">
      <div class="wrapper">
      {% if not product %}
        <div id="product_coming">Product coming soon</div>
      {% else %}

      <!-- Shirt -->
      <div id="shirt" class="{{product.slug}}">

          <!-- Charity -->
          <div id="charityflyout">
            
            <!-- Charity Seal and Logo -->
            <div class="charitylogo">
              <div class="logoimage">
                <img src="{% if product.benefits.image %}{{product.benefits.image.url}}{% endif %}" alt="{{product.benefits.name}}"/>
              </div>
            </div>

            <!-- Charity Flyout - hidden til hover -->
            <div id="charityinfo">
              <div class="charitylink">
                <h4>{{product.benefits.name}}</h4>
                <span class="goto sharpie">go to</span>
                {% for link in product.benefits.partnerlink_set.all %}
                  {% if link.link_class == "homepage" %}
                    <a href="{{ link.link }}" target="_blank" class="charity_logo">{{ link.link }}</a>
                  {% endif %}
                {% endfor %}
              </div>
              <ul class="charitysociallinks">
                {% for link in product.benefits.partnerlink_set.all %}
                  {% if link.link_class == "facebook" or link.link_class == "twitter" or link.link_class == "youtube" %}
                    <li class="{{link.link_class}}"><a href="{{link.link}}">{{link.link_text}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>

          </div>

          <!-- Shirt Image -->
          <div id="shirtimage">
            <div class="image selected">
              {% for photo in product.productphoto_set.all %}
                  {% if photo.photo_large %}
                    <img src="{{photo.photo_large.url}}" alt="{{photo.description}}" />
                  {% else %}
                    <img src="{{photo.photo.url}}" alt="{{photo.description}}">
                  {% endif %}
              {% endfor %}
            </div>
          </div>

            <!-- Toggle Links -->
            <!-- <div id="toggle">
              <a href="" class="mens selected">See Men's</a>
              <a href="" class="womens">See Women's</a>
            </div> -->

          <!-- Sharing buttons -->
          <div id="sharing">
            <!-- TODO Kevin we need to pull these in. you can copy the stuff from the old file but I want to change the Share It setup. not sure how best to do this. -->
          </div>
      </div>

      <!-- Shirt Actions -->
      <div id="shirtactions">

        <!-- Price -->
        <div class="price">
          <div class="amount">
            <span class="dollar">$</span>
            <span class="number">{{product.price|floatformat}}</span>
          </div>
          <div class="tagline sharpie">{{product.call_to_action}}</div>
          
          {% if product.date_expires >= now %}
            <div class="daysremaining helper">
              <span id="expiresdate">{{product.date_expires|date:"Y-m-d H:i:s"}}</span> <span id="days">days</span> remaining to purchase this shirt at its featured price.
            </div>
          {% endif %}
        </div>

        <!-- Goals -->
        <div class="goals">
          <div class="donated">
            <span class="dollar">$</span>
            <span id="donated_container" class="number">{{product.total_raised|floatformat}}</span>
            <span class="helper">dollars donated</span>
          </div>
            <div class="goal">
            <span class="dollar">$</span>
            <span id="goal_container" class="number">{{product.goal|floatformat}}</span>
            <span class="helper">our donation goal</span>
          </div>
          <div class="progress">
            <div id="progressbar">
              <div class="percentage">
                <span class="label sharpie"><span id="percentage_container"></span>%</span>
              </div>
            </div>
          </div>
          <div id="amountdonated" class="amountdonated helper">
            <span class="number">$6</span> donated per <span class="number">${{product.price|floatformat}}</span> shirt. <span class="why sharpie">why?</span>
          </div>
          <div id="amountdonated_helper" style="display:none;">blah blah blah stuff etc</div>
        </div>

        {% if can_add_to_cart %}
        

        <form action="https://socialpakt.foxycart.com/cart" method="post">
            <input type="hidden" name="name" value="{{product.cart_title}}" />
            <input type="hidden" name="code" value="{{product.slug}}" />
            <input type="hidden" name="price" value="{{product.price}}" />
            <input type="hidden" name="quantity" value="1">
            <select id="shirt_select" name="shirt">
                {% for v in product.productvariation_set.all %}
                  {% if v.inventory > 0 or not product.has_inventory %}
                    <option value="{{v.description}}">{{v.description}}</option>
                  {% endif %}
                {% endfor %}
            </select>
        
        <!-- Sizes -->
        <div class="sizes">
            {% for cat in product.available_variations.all %}
                <div class="category_size {{ cat.display_text|slugify }}">
                  <h5>{{ cat.display_text }}</h5>
                    {% render_variations cat product %}
                </div>
            {% endfor %}
        </div>
        
        <div class="addtocart">
          <input class="disabled" disabled="true" type="submit" name="add to cart" value="Add to Cart" id="cartbutton">
          <div id="cart">2 items $44</div>
        </div>

        </form>

        {% endif %}  <!-- can_add_to_cart end  -->

      </div>
    </div>
  </div>

  {% endif %}
{% endblock main %}

{% block about %}
  {% if product %}
  <!-- Shirt Details -->
  <div id="shirtdetails">
    <div class="wrapper">
    
    <!-- About this Shirt -->
    <div class="partners">

      <!-- Featured Charity -->
      <div class="charity">
        <span class="label sharpie">featured nonprofit</span>
        <h2><a href="{% url nonprofit product.benefits.slug %}">{{product.benefits.name}}</a></h2>
        
        <div class="charitylogo"><a href="{% url nonprofit product.benefits.slug %}"><img src="{% if product.benefits.image %}{{product.benefits.image.url}}{% endif %}" alt="{{product.benefits.name}}"></a></div>
        <!-- TODO kevin can we make this the alternate logo image if there is one? also, if there isn't a logo can we revert back to the h2 somehow? add an if to the .charity div so it knows if there's an image? -->

        <p><span class="truncate_50">{{product.benefits.about|safe|striptags}}</span> <a href="{% url nonprofit product.benefits.slug %}" class="sharpie morelink">more&#8230;</a></p> 
      </div>

      <!-- Artist -->
      <div class="artist">
        <span class="label sharpie">about the artist</span>
        <h2><a href="{% url artist product.artist.slug %}">{{product.artist.name}}</a></h2>
        <div class="artistphoto"><a href="{% url artist product.artist.slug %}"><img src="{% if product.artist.image %}{{product.artist.image.url}}{% endif %}" alt="{{product.artist.name}}"></a></div>
        <p><span class="truncate_50">{{product.artist.about|safe|striptags}}</span> <a href="{% url artist product.artist.slug %}" class="sharpie morelink">more&#8230;</a></p>
      </div>

    </div>

    <!-- Comments -->
    {% block fbcomments %}
    <div id="comments">
      <fb:comments href="http://{{ request.get_host }}/shirt/{{product.slug}}/" num_posts="5" width="600"></fb:comments>
    </div>
    {% endblock fbcomments %}

    </div>
  </div>
  {% endif %}
{% endblock about %}
