/* ---------- IMPORTS ------------------------------ */
/* ------------------------------------------------- */
  @import url("structure.css");
  @import url("header.css");
  @import url("shirt.css");
  @import url("locations.css");
  @import url("socialpakt.css");
  @import url("footer.css");
  @import url("pages.css");
  @import url("cart.css");
  /* note, these files may not exist yet. we should remove the ones we don't create; this is a list of what i expect us to have. */


/* ---------- GLOBAL TEXT AND LINK STYLES ---------- */
/* ------------------------------------------------- */

body {background-color: #f7f7f7; color: #333; font-family: proxima-nova, Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0;} 

h1 {}
h2 {}
h3 {}
h4 {}
    
p {font-size: 14px; line-height: 1.8em;}
    
a {}
a:hover {}
