/* ---------- IMPORTS ------------------------------ */
/* ------------------------------------------------- */
  @import url("header.css");
  @import url("shirt.css");
  @import url("locations.css");
  @import url("socialpakt.css");
  @import url("footer.css");
  @import url("pages.css");
  @import url("cart.css");
  @import url("css3.css");
  /* note, these files may not exist yet. we should remove the ones we don't create; this is a list of what i expect us to have. */

/* ---------- GLOBAL TEXT AND LINK STYLES ---------- */
/* ------------------------------------------------- */

body {margin: 0; padding: 0; border-top: 3px solid rgb(29, 116, 138); background-color: rgb(247, 247, 247); color: rgb(51, 51, 51); font-family: "proxima-nova"; font-size: 14px; line-height: 1.8em;}

/* Typekit */
/* font-family: "proxima-nova"; */ /* sizes 400, 600 + italic */
/* font-family: "museo-slab"; */ /* sizes 100, 300, 500, 700, no italic */
/* font-family: "nimbus-sans-condensed"; */ /* for knockout numbers and/or knockout replacement */ /* sizes 400 and 700, no italic */
/* font-family: "proxima-nova-extra-condensed"; */ /* use as a replacement for knockout */ /* sizes 300, 400, 700, not italic */


/* Sharpie font by Gerren Lamson http://designmoo.com/4304/sharpie-letterkit/ */
@font-face {
    font-family: 'sharpie';
    src: url('sharpie/sharpie.eot');
    src: url('sharpie/sharpie.eot?#iefix') format('embedded-opentype'),
         url('sharpie/sharpie.woff') format('woff'),
         url('sharpie/sharpie.ttf') format('truetype'),
         url('sharpie/sharpie.svg#sharpie') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {}
h2 {}
h3 {}
h4 {text-transform: uppercase; font-size: 18px; font-family: "proxima-nova"; font-weight: 600; color: rgb(8, 39, 57);}
h5 {text-transform: uppercase; font-size: 22px; font-family: "proxima-nova-extra-condensed"; font-weight: 200; margin: 0 0 5px 0;}
    
    
a {color: rgb(255,108,0); text-decoration: none;}
a:hover {color: rgb(201,23,93); text-decoration: underline;}


.number {font-family: "nimbus-sans-condensed"; font-weight: 700;}
.dollar {font-family: "museo-slab"; font-weight: 100; font-size: 30px; display: inline-block; vertical-align: top; padding-top: 3px;}
.helper {text-transform: uppercase; font-family: "proxima-nova-extra-condensed"; font-weight: 300; font-size: 20px; color: rgba(255, 255, 255, .75);}
  .helper:hover {color: rgba(255, 255, 255, 1);}

  /* TODO IE8 doesn't support rgba, specify fallback */

/* ---------- THINGS WHAT ARE USEFUL --------------- */
/* ------------------------------------------------- */

.wrapper {max-width: 1200px; margin: 0 auto;} /* add a wrapper div with this class to constrain width */
  .wrapper:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.sharpie {font-family: sharpie;}