/* ---------- CSS3 & ENHANCEMENT ------------------- */
/* ------------------------------------------------- */

/* TEXT LINK TRANSITIONS */
a {
    -webkit-transition: opacity .5s ease-in, color .5s ease-in;
    -moz-transition: opacity .5s ease-in, color .5s ease-in;
    -o-transition: opacity .5s ease-in, color .5s ease-in;
    transition: opacity .5s ease-in, color .5s ease-in;
    }

/* dollar sign text shadow */
.dollar {
	text-shadow: 1px 0px 0px rgba(0, 0, 0, .3);
	filter: dropshadow(color=#000000, offx=1, offy=0);
}

/* all text has super-light textshadow */
body {
	text-shadow: 1px 0px 0px rgba(0, 0, 0, .3);
}



/* Header links text shadow */
#header li {text-shadow: 1px 1px 0 rgba(0,0,0,.4);}
	
	/* header location nav hover inset shadow */
	#header ul.locationnav li:hover {
		-webkit-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .1);
		-moz-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .1);
		box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .1);
	}


/* Shirt */

/* Circle on Charity logo in Shirt section */
#charityflyout .charitylogo {border-radius: 50%;}
	.charitylogo .logoimage {
		-moz-transform: rotate(-4deg);
		-webkit-transform: rotate(-4deg);
		-o-transform: rotate(-4deg);
		-ms-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}


/* Donation amount Why link rotation */
.goals .amountdonated .why {
	-moz-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}