/* ---------- HEADER ------------------------------- */
/* ------------------------------------------------- */

#header {margin: 0; padding: 0;}

	/* Fallback Gradient */
	#header {background: url("images/header_gradient_fallback.png") repeat-y;}

	#header h1 {}
	/*#header .logo,
	#header .minornav,
	#header .locationnav,
	#header .about {display: none;}*/
