/* ---------- HEADER ------------------------------- */
/* ------------------------------------------------- */

#header {margin: 0; padding: 0; position: relative;}

	/* Crazy Header BG multiple images!  */
	/* First gradient is black overlay, second gradient is green-blue */
	/* BG gradients supported by FF, Chrome, Safari, Opera, IE10 only
	   Multiple backgrounds supported by FF, Chrome, Safari, Opera, IE9
	   This should have correct fallbacks in all browsers. */
	#header .bgimage {
		position: absolute; top: 0; left: 0; z-index: -1;
		height: 85px; width: 100%;
		opacity: .5;

		/* Fallback Gradient BG Image and Color for browsers that don't support multiple BGs */
		background: #91c779 url("images/header_gradient_fallback.png") repeat-y;

		/* Internet Explorer 6-9 Filters -- only one gradient and no texture */
	    background:none\0/;
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	   
   		/* IE 10 */
		background:
			url("images/header_texture.png"),
			-ms-linear-gradient(top, rgba(0,0,0,0.25) 0%, transparent 15%);


	    /* Old Webkit syntax - Chrome, Safari4+ */
	    background-image:
	    	url("images/header_texture.png"),
	    	-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(15%,rgba(0,0,0,0))),
	    	-webkit-gradient(linear,left top,right top,from(rgba(177,212,138,1)), to(rgba(146,212,218,1)));

	    /* New Webkit Syntax - Chrome10+, Safari5.1+ */
	    background:
	    	url("images/header_texture.png"),
	    	-webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, transparent 15%),
	    	-webkit-linear-gradient(left, rgba(177,212,138,1), rgba(146,212,218,1));

	    /* Moz -- FF3.6 + */
	    background-image:
	    	url("images/header_texture.png"),
	    	-moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, transparent 15%),
	    	-moz-linear-gradient(left, rgba(177,212,138,1), rgba(146,212,218,1));

	    /* Opera */
	    background-image:
	    	url("images/header_texture.png"),
		    -o-linear-gradient(top, rgba(0,0,0,0.25) 0%, transparent 15%),
	    	-o-linear-gradient(left, rgba(177,212,138,1), rgba(146,212,218,1));

	    /* W3C Spec */
	    background-image:
	    	url("images/header_texture.png"),
	    	linear-gradient(top, rgba(0,0,0,0.25) 0%, transparent 15%),
	    	linear-gradient(left, rgba(177,212,138,1), rgba(146,212,218,1));
	}



	#header .logo {float: left;}
		#header .logo h1 {display: block; height: 67px; width: 227px; text-indent: -9999em; background: url("images/socialpaktlogo.png") no-repeat;}


	#header ul {list-style-type: none; margin: 0; padding: 0;}
		#header li {display: inline-block; text-transform: uppercase; font-family: "proxima-nova-extra-condensed"; font-weight: 300;}
			.ie6 #header li, .ie7 #header li {display: inline; zoom: 1;} /* duplicate inline-block */
		#header li a {color: #fff; text-decoration: none;} /* TODO add hover states */

	/* Minor Nav Links */
	#header ul.minornav {float: left; padding-top: 35px; margin-left: 65px; color: #fff; font-size: 14px;}

	/* Location Nav */
	#header ul.locationnav {max-width: 450px; float: right;}		
		#header ul.locationnav li {padding: 30px 20px; cursor: pointer;} /* TODO can this be a percentage? */
		#header ul.locationnav li.current {background-color: #003a49;} /* style for current category */
		#header ul.locationnav li.currentcatli {display: none;} /* duplicated current category in markup */

		#header ul.locationnav li h3 {margin: 0;}
		#header ul.locationnav li h3 a {display: block; text-indent: -9999em; width: 80px; height: 40px; background: url("images/locationnav_newyork.png") no-repeat 0 0;}
		#header ul.locationnav li:hover h3 a {background-position: 0 -40px;}
		#header ul.locationnav li.selected h3 a {background-position: 0 -100px;}




/* ---------- HEADER STATES ------------------------ */
/* ------------------------------------------------- */

#header.collapsed {min-height: 85px;}
	#header.collapsed ul.locationnav .minishirt {display: none;}
	#header.collapsed .about {display: none;}

#header.expanded {}