/* ---------- LOCATIONS ---------------------------- */
/* ------------------------------------------------- */

#locations {background-color: rgb(69, 28, 67); background-image: url('images/diagonal_pattern.png'), url('images/locations_gradient.png'); padding: 50px 0; color: rgb(255, 255, 255);} /* TODO move multiple bg images to css3? test!!! */
	#locations:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

	#locations .location {width: 290px; min-height: 500px; float: left;} /* TODO browser test */
		#locations .location:last-child {margin-right: 0;}


		/* Location Titles */
		.location h3 {text-transform: uppercase; font-size: 40px; text-indent: -9999em; background: url('images/locations_sprite.png') no-repeat; height: 30px;} /* TODO better image or this is OK? */

			.location.newyork h3 {background-position: 0 0; width: 165px;}
				.location.newyork.selected h3,
				.location.newyork:hover h3 {background-position: 0 -40px;}
			
			.location.california h3 {background-position: -200px 0; width: 200px;}
				.location.california.selected h3,
				.location.california:hover h3 {background-position: -200px -40px;}
			
			.location.canada h3 {background-position: -452px 0; width: 130px;}
				.location.canada.selected h3,
				.location.canada:hover h3 {background-position: -452px -40px;}
			
			.location.everywhere h3 {background-position: -635px 0; width: 200px;}
				.location.everywhere.selected h3,
				.location.everywhere:hover h3 {background-position: -635px -40px;}

			/* Selected Location Glow */
			.location.selected {background: url('images/location_hover_glow.png') no-repeat;}



		.location h4 {color: rgb(255, 255, 255); margin: 10px 0 5px 0; line-height: 1.2; width: 240px;} /* width for better text wrapping */

		.location .charitylink {display: block; font-size: 14px; color: rgb(201, 23, 93); text-transform: uppercase; line-height: 1.2;}
			.location .charitylink .goto {display: inline-block; vertical-align: middle; font-size: 9px; text-transform: lowercase; color: rgba(255, 255, 255, .5); display: none;} /* TODO hide until we can remove the URL because it's breaking */

		.location p {width: 250px;}
