/* ---------- SHIRT SECTION ------------------------ */
/* ------------------------------------------------- */

#main {}
	#main:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}


#featuredshirt {/* background: #053745 url('images/shirt_fallback_texture.png'); */}
	#featuredshirt:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

	#featuredshirt .wrapper {background: url('images/shirtactions_black_underlay.png') no-repeat 250px 0; padding-top: 45px;} /* black underlay for shirtactions to be read more easily */


	#shirt {position: relative; max-width: 800px; float: left; margin-left: -80px;}

		#shirtimage {max-height: 775px; overflow: hidden;} /* TODO test and scale */

		#toggle {position: absolute; bottom: 50px; right: 0; text-transform: uppercase; font-weight: bold; font-size: 11px;}
			#toggle a, #toggle a:active, #toggle a:hover, #toggle a:focus {color: rgb(255, 255, 255); text-decoration: none;}
			#toggle .selected {display: none;}

		#charityflyout {}
			#charityflyout .charitylogo {position: absolute; top: 335px; left: 18px; z-index: 10; width: 170px; height: 170px; background-color: rgb(250, 250, 250); border: 1px solid rgb(221, 221, 221); cursor: pointer;} /* TODO set bg color to be settable in the admin panel so that if they provide a logo on a different color bg */
				.charitylogo .logoimage {width: 110px; height: 122px; margin: 22px 0 0 27px; overflow: hidden;} /* TODO how do we force the spacing and sizing here? */
				.charitylogo .logoimage img {width: 100%;}
			
			#charityflyout .charityinfo {display: none;} /* TODO add jquery slide/fade */
				#charityflyout:hover .charityinfo {display: block;}
			#charityflyout .charityinfo {position: absolute; top: 375px; left: 97px; z-index: 5; height: 70px; width: 545px;  overflow: hidden; padding: 10px 0 10px 120px; background-color: rgba(255, 255, 255, .9);}
				#charityflyout .charityinfo .charitylink {margin: 0; float: left;}
					#charityflyout .charityinfo h4 {margin: 8px 0 0 0;}
					#charityflyout .charityinfo .charitylink .goto {display: inline-block; vertical-align: top; font-size: 9px; color: rgb(85, 85, 85);}

				ul.charitysociallinks {list-style-type: none; float: right; margin: 20px 20px 0 0; padding: 0;}
					ul.charitysociallinks li {display: block; float: left; width: 33px; height: 33px; margin-right: 12px; overflow: hidden; text-indent: -9999em; background: url('images/sociallinks.png') no-repeat;}
						ul.charitysociallinks li.facebook {background-position: 0 0;}
							ul.charitysociallinks li.facebook:hover {background-position: 0 -40px;}
						ul.charitysociallinks li.twitter {background-position: -48px 0;}
							ul.charitysociallinks li.twitter:hover {background-position: -48px -40px;}
						ul.charitysociallinks li.youtube {background-position: -97px 0;}
							ul.charitysociallinks li.youtube:hover {background-position: -97px -40px;}
						/* TODO add more */
				


	#shirtactions {max-width: 450px; float: right; margin: 40px 0 0 20px;}
		.price, .goals, .sizes, .addtocart {margin-bottom: 20px; color: rgb(255, 255, 255);}

		.price {}
			.price .amount {float: left;}
				.price .amount .dollar {}
				.price .amount .number {display: inline-block; font-size: 100px; padding-top: 23px;}
			.price .tagline {float: left; width: 330px; margin-left: 10px; font-size: 18px;}
			.price .daysremaining {clear: both; margin-left: 18px; padding-top: 20px;} /* TODO kevin build in a tag if it's featured price or not purchaseable after feature price, so we can change text. and/or use Knockout bg image? also make this clickable to display a little lightbox explaining how it works */
				.price .daysremaining #expiresdate {font-weight: 700;} /* TODO can we make this not have a 0 in front of single digit numbers? */

		.goals {margin-top: 40px;} /* TODO this section makes this seem really bulky. tone down? */
			.goals .donated, .goals .goal {width: 40%; position: relative; z-index: 10;}
				.donated .number, .goal .number {font-size: 75px; line-height: 60px;}
				.goals .dollar {font-size: 20px;}

			.goals .donated {float: left;}
				.goals .donated .helper {display: block; margin-left: 18px;}
				.goals .donated .helper, .goals .donated .helper:hover {color: rgba(255, 255, 255, 1);} /* in this section keep full color */


			.goals .goal {float: right; margin-right: 20px; text-align: right; color: rgba(255, 255, 255, .75);}
				.goals .goal:hover, .goals .goal:hover .helper {color: rgba(255, 255, 255, 1);} /* hover states */
				.goals .goal .helper {display: block; margin-left: 18px;}


			.goals .progress {padding-top: 35px; position: relative; z-index: 1;}
				.goals #progressbar {width: 445px; height: 52px; background-color: rgb(69, 28, 67);}
					.goals #progressbar .percentage {position: relative; width: 52%; height: 52px; background: rgb(119, 51, 116) url('images/percentage_pattern.png');}
					.goals #progressbar .percentage .label {position: absolute; top: 35%; right: 8px; opacity: .2;}
			
			.goals .amountdonated {margin: 10px 0 0 18px;}
				.goals .amountdonated .why {display: inline-block; vertical-align: top; font-size: 9px; text-transform: lowercase; color: rgba(255, 255, 255, .75);}
					.goals .amountdonated:hover .why {color: rgba(255, 255, 255, 1);}


		.sizes {margin-top: 60px;}
			.sizes:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
			.sizes h4 {margin: 0; line-height: 2;}

			.sizes .category_size {float: left;}
				.sizes .category_size:nth-child(2) {float: right;} /* TODO browser test - second category aligns right */

			.sizes select {}
			.sizes .sizeselect {display: block; float: left; height: 33px; width: 33px; margin-right: 20px; background-color: rgba(228, 228, 228, .75); color: rgb(0, 58, 73); text-transform: uppercase; text-align: center; line-height: 2.5; font-weight: bold; cursor: pointer;}
                    .sizeselect:hover {background-color: rgb(225, 225, 225); color: rgb(39, 101, 111);}
                .sizeselect.sizeselect:last-child {margin-right: 0;}
                .sizeselect.selected {background-color: rgb(255, 255, 255); color: rgb(225, 22, 101);}
                .sizeselect.stock0, .sizeselect.stock0:hover {opacity: .2;} /* TODO add hover saying "out of stock" */

                #shirt_select {display: none;} /* hide select box of sizes */


         .addtocart {margin-top: 60px;}
	         .addtocart input {width: 445px; border: 0; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 35px; line-height: 2;}

	         .addtocart input.disabled {background-color: rgba(228, 228, 228, .5); color: rgb(218, 218, 218);} /* disabled/no size selected state */
	         .addtocart input {background-color: rgb(201, 23, 93);}

	         .addtocart #cart {text-align: center;}


#shirtdetails {background-color: rgb(204, 204, 204);}
	#shirtdetails:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

	#shirtdetails .partners {max-width: 700px; float: left;}

	#shirtdetails #comments {max-width: 450px; float: right; margin-left: 20px; padding-top: 20px;}



/* ---------- SHIRT BG IMAGE OVERRIDES ------------- */
/* ------------------------------------------------- */

body.mayorsalliance {background-position: -320px 0;}