/* ---------- SHIRT SECTION ------------------------ */
/* ------------------------------------------------- */

#main {}
	#main:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}


#featuredshirt {/* background: #053745 url('images/shirt_fallback_texture.png'); */}
	#featuredshirt:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

	#shirt {position: relative; max-width: 800px; float: left; margin-left: -80px;}

		#toggle {position: absolute; bottom: 50px; right: 0; text-transform: uppercase; font-weight: bold; font-size: 11px;}
			#toggle a, #toggle a:active, #toggle a:hover, #toggle a:focus {color: #fff; text-decoration: none;}
			#toggle .selected {display: none;}

		#charityflyout {}
			#charityflyout .charitylogo {position: absolute; top: 335px; left: 18px; z-index: 10; width: 170px; height: 170px; background-color: #fafafa; cursor: pointer;} /* TODO set bg color to be settable in the admin panel so that if they provide a logo on a different color bg */
				.charitylogo .logoimage {width: 110px; height: 122px; margin: 22px 0 0 27px; overflow: hidden;} /* TODO how do we force the spacing and sizing here? */
				.charitylogo .logoimage img {width: 100%;}
			
			#charityflyout .charityinfo {display: none;}
				#charityflyout:hover .charityinfo {display: block;}
			#charityflyout .charityinfo {position: absolute; top: 375px; left: 97px; z-index: 5; height: 70px; overflow: hidden; background-color: #fff; width: 545px; padding: 10px 0 10px 120px;}
				#charityflyout .charityinfo h4 {margin: 0;}


	#featuredshirt .wrapper {background: url('images/shirtactions_black_underlay.png') no-repeat 250px 0; padding-top: 55px;} /* black underlay for shirtactions to be read more easily */

	#shirtactions {max-width: 450px; float: right; margin-left: 20px;}
		.price, .goals, .sizes, .addtocart {margin-bottom: 20px; color: #fff;}

		.price {}
			.price .amount {float: left;}
				.price .amount .dollar {}
				.price .amount .number {display: inline-block; font-size: 100px; padding-top: 23px;}
			.price .tagline {float: left; width: 330px; margin-left: 10px; font-size: 18px;}
			.price .daysremaining {clear: both; margin-left: 18px; padding-top: 20px;} /* TODO kevin build in a tag if it's featured price or not purchaseable after feature price, so we can change text. and/or use Knockout bg image? also make this clickable to display a little lightbox explaining how it works */
				.price .daysremaining #expiresdate {font-weight: 700;} /* TODO can we make this not have a 0 in front of single digit numbers? */

		.goals {}
			.goals .donated, .goals .goal {width: 40%; position: relative; z-index: 10;}
				.donated .number, .goal .number {font-size: 75px; line-height: 60px;}
				.goals .dollar {font-size: 20px;}

			.goals .donated {float: left;}
				.goals .donated .helper {display: block; margin-left: 18px;}
				.goals .donated .helper, .goals .donated .helper:hover {color: rgba(255,255,255,1);} /* in this section keep full color */


			.goals .goal {float: right; margin-right: 20px; text-align: right; color: rgba(255,255,255,.75);}
				.goals .goal:hover, .goals .goal:hover .helper {color: rgba(255,255,255,1);} /* hover states */
				.goals .goal .helper {display: block; margin-left: 18px;}


			.goals .progress {padding-top: 35px; position: relative; z-index: 1;}
				.goals #progressbar {width: 445px; height: 52px; background-color: #451c43;}
					.goals #progressbar .percentage {position: relative; width: 52%; height: 52px; background: #773374 url('images/percentage_pattern.png');}
					.goals #progressbar .percentage .label {position: absolute; top: 35%; right: 8px; opacity: .2;}
			
			.goals .amountdonated {margin: 10px 0 0 18px;}
				.goals .amountdonated .why {display: inline-block; vertical-align: top; font-size: 9px; text-transform: lowercase; color: rgba(255,255,255,.75);}
					.goals .amountdonated:hover .why {color: rgba(255,255,255,1);}


		.sizes {}
			.sizes:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
			.sizes h4 {margin: 0; line-height: 2;}

			.sizes .womens, .sizes .mens {width: 50%; float: left;}

			.sizes .sizeselect {display: block; float: left; height: 33px; width: 33px; margin-right: 20px; background-color: #d5d5d5; color: #000; text-transform: uppercase; text-align: center; line-height: 2; font-weight: bold; cursor: pointer;}
                    .sizeselect:hover {background-color: #fff; color: #5cbcb9;}
                .sizeselect.selected {background-color: #fff; color: #e11665;}
                .sizeselect.stock0, .sizeselect.stock0:hover {opacity: .2;}

                #shirt_select {display: none;} /* hide select box of sizes */
				#shirt_select {display: none;} /* hide select box of sizes */


         .addtocart {}
	         .addtocart input {width: 445px; background-color: #c9175d; border: 0; color: #fff; text-transform: uppercase; font-size: 35px; line-height: 2; font-weight: bold;}

	         .addtocart #cart {text-align: center;}


#shirtdetails {background-color: #ccc;}
	#shirtdetails:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

	#shirtdetails .partners {max-width: 700px; float: left;}

	#shirtdetails #comments {max-width: 450px; float: right; margin-left: 20px; padding-top: 20px;}



/* ---------- SHIRT BG IMAGE OVERRIDES ------------- */
/* ------------------------------------------------- */

body.mayorsalliance {background-position: -390px 0;}