{% extends "base.html" %}

{% block fbmetadata %}
  <meta property="og:title" content="{{ product.title }}"/> 
  <meta property="og:url" content="http://{{ request.get_host }}/shirt/{{ product.slug }}/"/> 
  <meta property="og:image" content="http://{{ request.get_host }}{{ product.productphoto_set.all.0.photo.url }}"/> 
  <meta property="og:site_name" content="SocialPakt - Make a Pakt, Make a Difference"/> 
  <meta property="og:type" content="article" /> 
  <meta property="fb:app_id" content="{{ settings.FACEBOOK_APP_ID }}"> 
  <meta property="og:description" content="{{ product.description }}"/> 
  <meta property="og:author" content="SocialPakt.com" />
{% endblock fbmetadata %}

{% block localscripts %}
      <script src="{{ STATIC_URL }}js/lib/countdown.js"></script>
      <script src="{{ STATIC_URL }}js/catalog.js"></script>
{% endblock localscripts %}

{% block main %}
    <div id="productblock">
        <div id="shirt">
            {% for photo in product.productphoto_set.all %}
            <div class="shirtimage {% if forloop.first %}big{% else %}thumbnail{% endif %}">
                <img width="580px" src="{{photo.photo.url}}" alt="{{photo.description}}">
            </div>
            {% endfor %}
        </div>

        <div id="purchase">

        <div class="charity">
            <h2 class="donated"><span class="number">30%</span> from the sale of each t-shirt goes directly to:</h2>
            <h3>This Week's Charity</h3>
              <a href="{% url nonprofit product.benefits.slug %}" class="charity_logo"><img width="250px" src="{% if product.benefits.image %}{{product.benefits.image.url}}{% endif %}" alt="{{product.benefits.name}}"></a>
          </div>


          <div id="donations">
              <div class="donation">
                  <h3>donated</h3>
                  <div class="number"><span class="dollarsign">$</span>{{product.total_raised|floatformat}}</div>
              </div>
              <div class="goal">
                  <h3>our goal</h3>
                  <div class="number"><span class="dollarsign">$</span>{{product.goal|floatformat}}</div>
              </div>
          </div>




          
          {% if can_add_to_cart %}
          <form action="https://socialpakt.foxycart.com/cart" method="post">
              <input type="hidden" name="name" value="{{product.title}}" />
              <input type="hidden" name="code" value="{{product.slug}}" />
              <input type="hidden" name="price" value="{{product.price}}" />
              <input type="hidden" name="quantity" value="1">
              <select id="shirt_select" name="shirt">
                  {% for v in product.productvariation_set.all %}
                  <option value="{{v.description}}">{{v.description}}</option>
                  {% endfor %}
              </select>
          
              <div id="sizes">
                  <div class="womens">
                      <h3><span class="price">${{product.price|floatformat}}</span> Women's Tee</h3>
                      <a class="sizeandfit">size and fit</a>
                      <ul class="options">
                          <li id="Women's S" class="size">s</li>
                          <li id="Women's M" class="size">m</li>
                          <li id="Women's L" class="size">l</li>
                          <li id="Women's XL" class="size">xl</li>
                      </ul>
                  </div>
                  <div class="mens">
                      <h3><span class="price">${{product.price|floatformat}}</span> Men's Tee</h3>
                      <a class="sizeandfit">size and fit</a>
                      <ul class="options">
                          <li id="Men's S" class="size">s</li>
                          <li id="Men's M" class="size">m</li>
                          <li id="Men's L" class="size">l</li>
                          <li id="Men's XL" class="size">xl</li>
                      </ul>
                  </div>
              </div>
          
              <div id="addtocart">
                  <input class="disabled" disabled="true" type="submit" name="add to cart" value="Add to Cart" id="cartbutton">
              </div>

          </form>

                      <div id="timeleft">
                <h3>time left:</h3>
                <div id='expiresdate'>{{product.date_expires|date:"Y-m-d H:i:s"}}</div>
            </div>


          
          {% endif %}
        </div>
    </div>
{% endblock main %}

{% block fbcomments %}
<div id="comments">
  <h3>What People Are Saying</h3>
    <fb:comments href="http://{{ request.get_host }}/shirt/{{product.slug}}/" num_posts="5" width="600"></fb:comments>
</div>
{% endblock fbcomments %}

{% block about %}
  <div class="aboutcharity">
      <span class="label">about the charity</span>
      <h3><a href="{% url nonprofit product.benefits.slug %}">{{product.benefits.name}}</a></h3>
      <p>{{product.benefits.about|safe|truncatewords_html:30|striptags}} <a href="{% url nonprofit product.benefits.slug %}">more</a></p>
  </div>
  <div class="aboutartist">
      <span class="label">about the artist</span>
      <h3><a href="{% url artist product.artist.slug %}">{{product.artist.name}}</a></h3>
      <p>{{product.artist.about|safe|truncatewords_html:30|striptags}} <a href="{% url artist product.artist.slug %}">more</a></p>
  </div>
{% endblock about %}